In [103]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
import lightgbm as lgb
import statsmodels.api as sm
import warnings
import shap
from sklearn.model_selection import StratifiedKFold
from pycaret.regression import *
from xgboost import XGBRegressor
from xgboost import XGBClassifier
from sklearn.tree import ExtraTreeClassifier
from sklearn.tree import ExtraTreeRegressor
from sklearn.experimental import enable_iterative_imputer 
from sklearn.impute import KNNImputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from catboost import CatBoostClassifier, Pool
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import AdaBoostRegressor
from catboost import CatBoostRegressor
from catboost import CatBoostClassifier
from sklearn.metrics import mean_squared_error
from pycaret.regression import *
from sklearn.impute import KNNImputer

In [104]:
warnings.simplefilter(action='ignore')
pd.set_option('display.max_columns', None)

In [164]:
train_data = pd.read_csv("./train.csv")
train_data

,PRODUCT_ID,Y_Class,Y_Quality,TIMESTAMP,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,TRAIN_000,1,0.533433,2022-06-13 5:14,T050304,A_31,NaN,NaN,NaN,NaN,...,39.34,40.89,32.56,34.09,77.77,NaN,NaN,NaN,NaN,NaN
1,TRAIN_001,2,0.541819,2022-06-13 5:22,T050307,A_31,NaN,NaN,NaN,NaN,...,38.89,42.82,43.92,35.34,72.55,NaN,NaN,NaN,NaN,NaN
2,TRAIN_002,1,0.531267,2022-06-13 5:30,T050304,A_31,NaN,NaN,NaN,NaN,...,39.19,36.65,42.47,36.53,78.35,NaN,NaN,NaN,NaN,NaN
3,TRAIN_003,2,0.537325,2022-06-13 5:39,T050307,A_31,NaN,NaN,NaN,NaN,...,37.74,39.17,52.17,30.58,71.78,NaN,NaN,NaN,NaN,NaN
4,TRAIN_004,1,0.531590,2022-06-13 5:47,T050304,A_31,NaN,NaN,NaN,NaN,...,38.70,41.89,46.93,33.09,76.97,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,TRAIN_593,1,0.526546,2022-09-08 14:30,T100306,T_31,2.0,95.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,TRAIN_594,0,0.524022,2022-09-08 22:38,T050304,A_31,NaN,NaN,NaN,NaN,...,49.47,53.07,50.89,55.10,66.49,1.0,NaN,NaN,NaN,NaN
595,TRAIN_595,0,0.521289,2022-09-08 22:47,T050304,A_31,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
596,TRAIN_596,1,0.531375,2022-09-08 14:38,T100304,O_31,40.0,94.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,TRAIN_597,1,0.533702,2022-09-08 14:46,T100306,O_31,21.0,87.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
train_data['YEAR'] =  pd.to_datetime(train_data['TIMESTAMP']).dt.year
train_data['MONTH'] =  pd.to_datetime(train_data['TIMESTAMP']).dt.month
train_data['DAY'] =  pd.to_datetime(train_data['TIMESTAMP']).dt.day
train_data['HOUR'] =  pd.to_datetime(train_data['TIMESTAMP']).dt.hour
train_data['MINUTE'] =  pd.to_datetime(train_data['TIMESTAMP']).dt.minute
train_data['DAY_OF_WEEK'] =  pd.to_datetime(train_data['TIMESTAMP']).dt.day_name()

In [165]:
colls = []
for coll in train_data :
    if 'X' in coll and train_data[coll].isna().sum() == 598 :
        colls.append(coll)
print(len(colls))

82

In [166]:
train_data.drop(colls, inplace = True, axis = 1)

In [94]:
train_data = train_data.drop(['MONTH', 'MINUTE', 'DAY', 'YEAR', 'DAY_OF_WEEK', 'HOUR'], axis = 1)

In [167]:
train_data.loc[train_data.PRODUCT_CODE == 'A_31','PRODUCT_CODE'] = 1
train_data.loc[train_data.PRODUCT_CODE == 'T_31','PRODUCT_CODE'] = 2
train_data.loc[train_data.PRODUCT_CODE == 'O_31','PRODUCT_CODE'] = 3

train_data.drop(['PRODUCT_ID', 'TIMESTAMP'], axis = 1, inplace = True)
train_data

,Y_Class,Y_Quality,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,...,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871
0,1,0.533433,T050304,1,NaN,NaN,NaN,NaN,NaN,NaN,...,189.0,383.0,368.296296,353.0,39.34,40.89,32.56,34.09,77.77,NaN
1,2,0.541819,T050307,1,NaN,NaN,NaN,NaN,NaN,NaN,...,185.6,383.0,367.735849,353.0,38.89,42.82,43.92,35.34,72.55,NaN
2,1,0.531267,T050304,1,NaN,NaN,NaN,NaN,NaN,NaN,...,165.5,383.0,367.320755,353.0,39.19,36.65,42.47,36.53,78.35,NaN
3,2,0.537325,T050307,1,NaN,NaN,NaN,NaN,NaN,NaN,...,165.8,384.0,369.188679,353.0,37.74,39.17,52.17,30.58,71.78,NaN
4,1,0.531590,T050304,1,NaN,NaN,NaN,NaN,NaN,NaN,...,182.6,383.0,367.351852,352.0,38.70,41.89,46.93,33.09,76.97,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,1,0.526546,T100306,2,2.0,95.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
594,0,0.524022,T050304,1,NaN,NaN,NaN,NaN,NaN,NaN,...,168.7,384.0,369.811321,353.0,49.47,53.07,50.89,55.10,66.49,1.0
595,0,0.521289,T050304,1,NaN,NaN,NaN,NaN,NaN,NaN,...,156.6,383.0,367.018868,352.0,NaN,NaN,NaN,NaN,NaN,1.0
596,1,0.531375,T100304,3,40.0,94.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,1,0.533702,T100306,3,21.0,87.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [168]:
T05 = train_data[(train_data['LINE'] == 'T050304')|(train_data['LINE'] == 'T050307')]
T01 = train_data[(train_data['LINE'] == 'T010305')|(train_data['LINE'] == 'T010306')]
T10 = train_data[(train_data['LINE'] == 'T100304')|(train_data['LINE'] == 'T100306')]

In [169]:
T05.drop(['LINE'], axis = 1, inplace = True)
T01.drop(['LINE'], axis = 1, inplace = True)
T10.drop(['LINE'], axis = 1, inplace = True)

In [170]:
T05_col = []
for col in T05 :
    if 'X' in col and T05[col].isna().sum() == len(T05) :
        T05_col.append(col)
print(len(T05_col))

T05.drop(T05_col, inplace = True, axis = 1)

806

In [171]:
T01_col = []
for col in T01 :
    if 'X' in col and T01[col].isna().sum() == len(T01) :
        T01_col.append(col)
print(len(T01_col))

T01.drop(T01_col, inplace = True, axis = 1)

1899

In [172]:
T10_col = []
for col in T10 :
    if 'X' in col and T10[col].isna().sum() == len(T10) :
        T10_col.append(col)
print(len(T10_col))

T10.drop(T10_col, inplace = True, axis = 1)

2116

In [161]:
T05 = T05.fillna(T05.mean())
T01 = T01.fillna(T01.mean())
T10 = T10.fillna(T10.mean())

In [173]:
T05 = T05.fillna(0)
T01 = T01.fillna(0)
T10 = T10.fillna(0)

In [89]:
zero_one = (train_data[train_data['Y_Class'] == 1]['Y_Quality'].min() + train_data[train_data['Y_Class'] == 0]['Y_Quality'].max())/2
one_two = (train_data[train_data['Y_Class'] == 2]['Y_Quality'].min() + train_data[train_data['Y_Class'] == 1]['Y_Quality'].max())/2
print(zero_one, one_two)

0.5250761905000001 0.5348968255

# Model

# T05

In [174]:
T05_class = T05['Y_Class']
T05_target = T05['Y_Quality']
T05_data = T05.drop(['Y_Class', 'Y_Quality'], axis = 1)
T05_data

,PRODUCT_CODE,X_128,X_129,X_130,X_131,X_132,X_133,X_134,X_135,X_136,...,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871
0,1,7813.0,7813.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,189.0,383.0,368.296296,353.0,39.34,40.89,32.56,34.09,77.77,0.0
1,1,0.0,0.0,19854.0,19854.0,0.20,0.21,0.20,0.2,413.0,...,185.6,383.0,367.735849,353.0,38.89,42.82,43.92,35.34,72.55,0.0
2,1,7815.0,7815.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,165.5,383.0,367.320755,353.0,39.19,36.65,42.47,36.53,78.35,0.0
3,1,0.0,0.0,19856.0,19856.0,0.20,0.21,0.20,0.2,414.0,...,165.8,384.0,369.188679,353.0,37.74,39.17,52.17,30.58,71.78,0.0
4,1,7817.0,7817.0,0.0,0.0,0.19,0.20,0.18,0.2,228.0,...,182.6,383.0,367.351852,352.0,38.70,41.89,46.93,33.09,76.97,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,1,11864.0,11864.0,0.0,0.0,0.19,0.20,0.19,0.2,230.0,...,176.0,384.0,367.333333,352.0,0.00,0.00,0.00,0.00,0.00,1.0
582,1,11898.0,11898.0,0.0,0.0,0.18,0.20,0.18,0.2,230.0,...,174.0,384.0,367.037037,352.0,50.88,53.23,52.44,56.28,66.83,1.0
583,1,11920.0,11920.0,0.0,0.0,0.19,0.20,0.19,0.2,230.0,...,181.6,394.0,371.943396,353.0,51.71,59.64,54.61,57.05,63.18,1.0
594,1,14810.0,14810.0,0.0,0.0,0.19,0.20,0.19,0.2,304.0,...,168.7,384.0,369.811321,353.0,49.47,53.07,50.89,55.10,66.49,1.0
595,1,14813.0,14813.0,0.0,0.0,0.19,0.20,0.19,0.2,304.0,...,156.6,383.0,367.018868,352.0,0.00,0.00,0.00,0.00,0.00,1.0

In [175]:
#13
setup_rgs = setup(data = T05_data, target=T05_target, session_id = 414)
top5 = compare_models(sort='MSE', n_select=5)

Processing:   0%|          | 0/89 [00:00<?, ?it/s]

In [176]:
T05_total_models = []

T05_model_lightgbm = create_model('lightgbm', fold = 5)
T05_total_models.append(T05_model_lightgbm)

T05_model_rf = create_model('rf', fold = 5)
T05_total_models.append(T05_model_rf)

T05_model_gbr = create_model('gbr', fold = 5)
T05_total_models.append(T05_model_gbr)

T05_model_et = create_model('et', fold = 5)
T05_total_models.append(T05_model_et)

T05_model_catboost = create_model('catboost', fold = 5)
T05_total_models.append(T05_model_catboost)

T05_model_xgb = create_model('xgboost', fold = 5)
T05_total_models.append(T05_model_xgb)

T05_model_ada = create_model('ada', fold = 5)

T05_total_models.append(T05_model_ada)

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [177]:
T05_model_lightgbm = tune_model(T05_model_lightgbm, fold=5, choose_better = True)

T05_model_rf = tune_model(T05_model_rf, fold=5, choose_better = True)

T05_model_gbr = tune_model(T05_model_gbr, fold=5, choose_better = True)

T05_model_et = tune_model(T05_model_et, fold=5, choose_better = True)

T05_model_catboost = tune_model(T05_model_catboost, fold=5, choose_better = True)

T05_model_xgb = tune_model(T05_model_xgb, fold=5, choose_better = True)

T05_model_ada = tune_model(T05_model_ada, fold=5, choose_better = True)

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [178]:
T05_tuned_models = [T05_model_lightgbm, T05_model_rf, T05_model_gbr, T05_model_et, T05_model_catboost, T05_model_xgb, T05_model_ada]
T05_tuned_models

[LGBMRegressor(random_state=414),
 RandomForestRegressor(n_jobs=-1, random_state=414),
 GradientBoostingRegressor(random_state=414),
 ExtraTreesRegressor(n_jobs=-1, random_state=414),
 <catboost.core.CatBoostRegressor at 0x2395348a460>,
 XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=-1, num_parallel_tree=1, predictor='auto', random_state=414,
              reg_alpha=0, reg_lambda=1, ...),
 AdaBoostRegressor(random_state=414)]

In [179]:
for model in T05_tuned_models:
    display(predict_model(model))

,PRODUCT_CODE,X_128,X_129,X_130,X_131,X_132,X_133,X_134,X_135,X_136,...,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,Y_Quality,prediction_label
84,1,3538.0,3538.0,0.0,0.0,0.20,0.21,0.20,0.2,107.0,...,363.641510,342.0,49.790001,53.000000,53.740002,50.090000,62.770000,1.0,0.521341,0.520427
85,1,0.0,0.0,829.0,829.0,0.19,0.20,0.19,0.2,58.0,...,367.905670,352.0,51.099998,52.730000,56.139999,50.799999,62.950001,1.0,0.524090,0.521892
86,1,24448.0,24448.0,0.0,0.0,0.19,0.21,0.19,0.2,811.0,...,367.555542,352.0,54.529999,59.330002,50.849998,55.330002,65.870003,1.0,0.520856,0.518730
87,1,11772.0,11772.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,370.648163,353.0,47.189999,53.889999,52.970001,56.320000,66.690002,1.0,0.522460,0.525691
88,1,25323.0,25323.0,0.0,0.0,0.20,0.21,0.20,0.2,653.0,...,368.830200,352.0,53.490002,55.590000,60.000000,58.180000,66.790001,1.0,0.538629,0.529223
89,1,17441.0,17441.0,0.0,0.0,0.20,0.21,0.20,0.2,571.0,...,368.528290,352.0,60.240002,56.160000,54.520000,56.419998,66.849998,1.0,0.515083,0.528971
90,1,11743.0,11743.0,0.0,0.0,0.20,0.21,0.19,0.2,421.0,...,367.166656,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.535405,0.526875
91,1,0.0,0.0,6473.0,6473.0,0.20,0.21,0.20,0.2,171.0,...,369.358490,353.0,59.380001,57.130001,50.150002,57.169998,64.010002,1.0,0.544584,0.535766
92,1,0.0,0.0,1561.0,1561.0,0.20,0.21,0.20,0.2,67.0,...,368.358490,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.543957,0.541874
93,1,2947.0,2947.0,0.0,0.0,0.20,0.21,0.19,0.2,123.0,...,367.716980,352.0,48.279999,51.250000,55.430000,56.950001,67.440002,1.0,0.519451,0.526828
94,1,0.0,0.0,19866.0,19866.0,0.20,0.21,0.20,0.2,414.0,...,374.425934,352.0,39.160000,35.490002,52.270000,31.450001,72.459999,0.0,0.539149,0.537672
95,1,0.0,0.0,6482.0,6482.0,0.20,0.21,0.20,0.2,172.0,...,367.679260,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.547481,0.545580
96,1,0.0,0.0,19854.0,19854.0,0.20,0.21,0.20,0.2,413.0,...,367.735840,353.0,38.889999,42.820000,43.919998,35.340000,72.550003,0.0,0.541819,0.543677
97,1,23491.0,23491.0,0.0,0.0,0.20,0.21,0.20,0.2,771.0,...,370.018860,355.0,58.139999,57.270000,52.730000,56.060001,66.760002,1.0,0.530202,0.531257
98,1,8207.0,8207.0,0.0,0.0,0.19,0.20,0.19,0.2,172.0,...,362.111115,343.0,57.939999,55.840000,53.240002,56.720001,64.169998,1.0,0.540106,0.533433
99,1,21863.0,21863.0,0.0,0.0,0.20,0.21,0.20,0.2,705.0,...,367.886780,354.0,58.070000,55.230000,51.330002,56.779999,63.480000,1.0,0.529130,0.528506
100,1,837.0,837.0,0.0,0.0,0.19,0.20,0.19,0.2,32.0,...,368.433960,353.0,53.490002,58.759998,42.220001,57.919998,66.180000,1.0,0.560568,0.541651
101,1,19078.0,19078.0,0.0,0.0,0.20,0.21,0.19,0.2,527.0,...,368.113220,352.0,56.660000,60.490002,40.509998,48.650002,63.700001,1.0,0.528817,0.530533
102,1,0.0,0.0,919.0,919.0,0.19,0.21,0.19,0.2,59.0,...,367.870361,352.0,53.169998,53.220001,50.070000,57.130001,64.269997,1.0,0.519406,0.520967
103,1,11898.0,11898.0,0.0,0.0,0.18,0.20,0.18,0.2,230.0,...,367.037048,352.0,50.880001,53.230000,52.439999,56.279999,66.830002,1.0,0.522233,0.520170
104,1,0.0,0.0,19876.0,19876.0,0.20,0.21,0.20,0.2,414.0,...,369.037750,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.539235,0.535504
105,1,14813.0,14813.0,0.0,0.0,0.19,0.20,0.19,0.2,304.0,...,367.018860,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.521289,0.527972
106,1,24728.0,24728.0,0.0,0.0,0.20,0.20,0.20,0.2,818.0,...,369.698120,353.0,48.400002,60.709999,53.139999,49.389999,62.830002,1.0,0.524606,0.523245
107,1,26596.0,26596.0,0.0,0.0,0.20,0.21,0.20,0.2,874.0,...,362.388885,343.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.521133,0.523213
108,1,19056.0,19056.0,0.0,0.0,0.20,0.21,0.20,0.2,527.0,...,368.660370,352.0,57.750000,65.480003,52.270000,56.540001,64.349998,1.0,0.526346,0.531319
109,1,5539.0,5539.0,0.0,0.0,0.19,0.20,0.19,0.2,162.0,...,367.407410,354.0,54.660000,54.439999,42.389999,56.790001,64.930000,1.0,0.520252,0.521006
110,1,22377.0,22377.0,0.0,0.0,0.20,0.21,0.20,0.2,720.0,...,367.169800,352.0,58.439999,56.930000,51.310001,58.020000,63.860001,1.0,0.529236,0.529854
111,1,11748.0,11748.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,369.129639,355.0,47.930000,47.840000,40.459999,55.380001,64.580002,1.0,0.521987,0.523164
112,1,2932.0,2932.0,0.0,0.0,0.20,0.21,0.20,0.2,123.0,...,367.660370,353.0,56.860001,50.459999,40.490002,57.340000,66.370003,1.0,0.516711,0.523149
113,1,0.0,0.0,26155.0,26155.0,0.20,0.21,0.20,0.2,618.0,...,368.509430,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.527976,0.533742
114,1,0.0,0.0,11942.0,11942.0,0.20,0.21,0.20,0.2,394.0,...,367.074066,352.0,55.689999,53.029999,53.750000,58.959999,64.010002,1.0,0.525086,0.529831
115,1,7830.0,7830.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,372.830200,352.0,40.419998,38.330002,40.139999,30.719999,76.519997,0.0,0.531254,0.528159
116,1,0.0,0.0,19864.0,19864.0,0.20,0.21,0.20,0.2,414.0,...,372.870361,353.0,34.400002,35.880001,50.360001,38.450001,71.419998,0.0,0.538049,0.534831
117,1,24883.0,24883.0,0.0,0.0,0.20,0.21,0.20,0.2,823.0,...,364.660370,342.0,53.700001,54.980000,56.419998,58.470001,63.770000,1.0,0.515892,0.519021
118,1,0.0,0.0,21289.0,21289.0,0.20,0.21,0.19,0.2,646.0,...,369.092590,353.0,53.270000,56.009998,59.470001,58.889999,65.269997,1.0,0.542848,0.552767
119,1,0.0,0.0,806.0,806.0,0.19,0.21,0.19,0.2,58.0,...,368.490570,353.0,53.369999,58.320000,49.099998,53.290001,62.480000,1.0,0.515884,0.521251

,PRODUCT_CODE,X_128,X_129,X_130,X_131,X_132,X_133,X_134,X_135,X_136,...,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,Y_Quality,prediction_label
84,1,3538.0,3538.0,0.0,0.0,0.20,0.21,0.20,0.2,107.0,...,363.641510,342.0,49.790001,53.000000,53.740002,50.090000,62.770000,1.0,0.521341,0.526781
85,1,0.0,0.0,829.0,829.0,0.19,0.20,0.19,0.2,58.0,...,367.905670,352.0,51.099998,52.730000,56.139999,50.799999,62.950001,1.0,0.524090,0.524517
86,1,24448.0,24448.0,0.0,0.0,0.19,0.21,0.19,0.2,811.0,...,367.555542,352.0,54.529999,59.330002,50.849998,55.330002,65.870003,1.0,0.520856,0.525133
87,1,11772.0,11772.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,370.648163,353.0,47.189999,53.889999,52.970001,56.320000,66.690002,1.0,0.522460,0.527745
88,1,25323.0,25323.0,0.0,0.0,0.20,0.21,0.20,0.2,653.0,...,368.830200,352.0,53.490002,55.590000,60.000000,58.180000,66.790001,1.0,0.538629,0.530892
89,1,17441.0,17441.0,0.0,0.0,0.20,0.21,0.20,0.2,571.0,...,368.528290,352.0,60.240002,56.160000,54.520000,56.419998,66.849998,1.0,0.515083,0.526462
90,1,11743.0,11743.0,0.0,0.0,0.20,0.21,0.19,0.2,421.0,...,367.166656,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.535405,0.528381
91,1,0.0,0.0,6473.0,6473.0,0.20,0.21,0.20,0.2,171.0,...,369.358490,353.0,59.380001,57.130001,50.150002,57.169998,64.010002,1.0,0.544584,0.538198
92,1,0.0,0.0,1561.0,1561.0,0.20,0.21,0.20,0.2,67.0,...,368.358490,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.543957,0.535479
93,1,2947.0,2947.0,0.0,0.0,0.20,0.21,0.19,0.2,123.0,...,367.716980,352.0,48.279999,51.250000,55.430000,56.950001,67.440002,1.0,0.519451,0.526681
94,1,0.0,0.0,19866.0,19866.0,0.20,0.21,0.20,0.2,414.0,...,374.425934,352.0,39.160000,35.490002,52.270000,31.450001,72.459999,0.0,0.539149,0.538518
95,1,0.0,0.0,6482.0,6482.0,0.20,0.21,0.20,0.2,172.0,...,367.679260,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.547481,0.538140
96,1,0.0,0.0,19854.0,19854.0,0.20,0.21,0.20,0.2,413.0,...,367.735840,353.0,38.889999,42.820000,43.919998,35.340000,72.550003,0.0,0.541819,0.539827
97,1,23491.0,23491.0,0.0,0.0,0.20,0.21,0.20,0.2,771.0,...,370.018860,355.0,58.139999,57.270000,52.730000,56.060001,66.760002,1.0,0.530202,0.527901
98,1,8207.0,8207.0,0.0,0.0,0.19,0.20,0.19,0.2,172.0,...,362.111115,343.0,57.939999,55.840000,53.240002,56.720001,64.169998,1.0,0.540106,0.530749
99,1,21863.0,21863.0,0.0,0.0,0.20,0.21,0.20,0.2,705.0,...,367.886780,354.0,58.070000,55.230000,51.330002,56.779999,63.480000,1.0,0.529130,0.528385
100,1,837.0,837.0,0.0,0.0,0.19,0.20,0.19,0.2,32.0,...,368.433960,353.0,53.490002,58.759998,42.220001,57.919998,66.180000,1.0,0.560568,0.549083
101,1,19078.0,19078.0,0.0,0.0,0.20,0.21,0.19,0.2,527.0,...,368.113220,352.0,56.660000,60.490002,40.509998,48.650002,63.700001,1.0,0.528817,0.532229
102,1,0.0,0.0,919.0,919.0,0.19,0.21,0.19,0.2,59.0,...,367.870361,352.0,53.169998,53.220001,50.070000,57.130001,64.269997,1.0,0.519406,0.523921
103,1,11898.0,11898.0,0.0,0.0,0.18,0.20,0.18,0.2,230.0,...,367.037048,352.0,50.880001,53.230000,52.439999,56.279999,66.830002,1.0,0.522233,0.526669
104,1,0.0,0.0,19876.0,19876.0,0.20,0.21,0.20,0.2,414.0,...,369.037750,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.539235,0.537957
105,1,14813.0,14813.0,0.0,0.0,0.19,0.20,0.19,0.2,304.0,...,367.018860,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.521289,0.526211
106,1,24728.0,24728.0,0.0,0.0,0.20,0.20,0.20,0.2,818.0,...,369.698120,353.0,48.400002,60.709999,53.139999,49.389999,62.830002,1.0,0.524606,0.525282
107,1,26596.0,26596.0,0.0,0.0,0.20,0.21,0.20,0.2,874.0,...,362.388885,343.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.521133,0.525186
108,1,19056.0,19056.0,0.0,0.0,0.20,0.21,0.20,0.2,527.0,...,368.660370,352.0,57.750000,65.480003,52.270000,56.540001,64.349998,1.0,0.526346,0.532235
109,1,5539.0,5539.0,0.0,0.0,0.19,0.20,0.19,0.2,162.0,...,367.407410,354.0,54.660000,54.439999,42.389999,56.790001,64.930000,1.0,0.520252,0.526718
110,1,22377.0,22377.0,0.0,0.0,0.20,0.21,0.20,0.2,720.0,...,367.169800,352.0,58.439999,56.930000,51.310001,58.020000,63.860001,1.0,0.529236,0.527000
111,1,11748.0,11748.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,369.129639,355.0,47.930000,47.840000,40.459999,55.380001,64.580002,1.0,0.521987,0.527763
112,1,2932.0,2932.0,0.0,0.0,0.20,0.21,0.20,0.2,123.0,...,367.660370,353.0,56.860001,50.459999,40.490002,57.340000,66.370003,1.0,0.516711,0.527532
113,1,0.0,0.0,26155.0,26155.0,0.20,0.21,0.20,0.2,618.0,...,368.509430,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.527976,0.538762
114,1,0.0,0.0,11942.0,11942.0,0.20,0.21,0.20,0.2,394.0,...,367.074066,352.0,55.689999,53.029999,53.750000,58.959999,64.010002,1.0,0.525086,0.530795
115,1,7830.0,7830.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,372.830200,352.0,40.419998,38.330002,40.139999,30.719999,76.519997,0.0,0.531254,0.532796
116,1,0.0,0.0,19864.0,19864.0,0.20,0.21,0.20,0.2,414.0,...,372.870361,353.0,34.400002,35.880001,50.360001,38.450001,71.419998,0.0,0.538049,0.538270
117,1,24883.0,24883.0,0.0,0.0,0.20,0.21,0.20,0.2,823.0,...,364.660370,342.0,53.700001,54.980000,56.419998,58.470001,63.770000,1.0,0.515892,0.523152
118,1,0.0,0.0,21289.0,21289.0,0.20,0.21,0.19,0.2,646.0,...,369.092590,353.0,53.270000,56.009998,59.470001,58.889999,65.269997,1.0,0.542848,0.538647
119,1,0.0,0.0,806.0,806.0,0.19,0.21,0.19,0.2,58.0,...,368.490570,353.0,53.369999,58.320000,49.099998,53.290001,62.480000,1.0,0.515884,0.523345

,PRODUCT_CODE,X_128,X_129,X_130,X_131,X_132,X_133,X_134,X_135,X_136,...,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,Y_Quality,prediction_label
84,1,3538.0,3538.0,0.0,0.0,0.20,0.21,0.20,0.2,107.0,...,363.641510,342.0,49.790001,53.000000,53.740002,50.090000,62.770000,1.0,0.521341,0.525933
85,1,0.0,0.0,829.0,829.0,0.19,0.20,0.19,0.2,58.0,...,367.905670,352.0,51.099998,52.730000,56.139999,50.799999,62.950001,1.0,0.524090,0.521466
86,1,24448.0,24448.0,0.0,0.0,0.19,0.21,0.19,0.2,811.0,...,367.555542,352.0,54.529999,59.330002,50.849998,55.330002,65.870003,1.0,0.520856,0.525705
87,1,11772.0,11772.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,370.648163,353.0,47.189999,53.889999,52.970001,56.320000,66.690002,1.0,0.522460,0.524102
88,1,25323.0,25323.0,0.0,0.0,0.20,0.21,0.20,0.2,653.0,...,368.830200,352.0,53.490002,55.590000,60.000000,58.180000,66.790001,1.0,0.538629,0.531727
89,1,17441.0,17441.0,0.0,0.0,0.20,0.21,0.20,0.2,571.0,...,368.528290,352.0,60.240002,56.160000,54.520000,56.419998,66.849998,1.0,0.515083,0.525132
90,1,11743.0,11743.0,0.0,0.0,0.20,0.21,0.19,0.2,421.0,...,367.166656,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.535405,0.526017
91,1,0.0,0.0,6473.0,6473.0,0.20,0.21,0.20,0.2,171.0,...,369.358490,353.0,59.380001,57.130001,50.150002,57.169998,64.010002,1.0,0.544584,0.538684
92,1,0.0,0.0,1561.0,1561.0,0.20,0.21,0.20,0.2,67.0,...,368.358490,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.543957,0.533958
93,1,2947.0,2947.0,0.0,0.0,0.20,0.21,0.19,0.2,123.0,...,367.716980,352.0,48.279999,51.250000,55.430000,56.950001,67.440002,1.0,0.519451,0.527207
94,1,0.0,0.0,19866.0,19866.0,0.20,0.21,0.20,0.2,414.0,...,374.425934,352.0,39.160000,35.490002,52.270000,31.450001,72.459999,0.0,0.539149,0.538598
95,1,0.0,0.0,6482.0,6482.0,0.20,0.21,0.20,0.2,172.0,...,367.679260,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.547481,0.539364
96,1,0.0,0.0,19854.0,19854.0,0.20,0.21,0.20,0.2,413.0,...,367.735840,353.0,38.889999,42.820000,43.919998,35.340000,72.550003,0.0,0.541819,0.541036
97,1,23491.0,23491.0,0.0,0.0,0.20,0.21,0.20,0.2,771.0,...,370.018860,355.0,58.139999,57.270000,52.730000,56.060001,66.760002,1.0,0.530202,0.529701
98,1,8207.0,8207.0,0.0,0.0,0.19,0.20,0.19,0.2,172.0,...,362.111115,343.0,57.939999,55.840000,53.240002,56.720001,64.169998,1.0,0.540106,0.533736
99,1,21863.0,21863.0,0.0,0.0,0.20,0.21,0.20,0.2,705.0,...,367.886780,354.0,58.070000,55.230000,51.330002,56.779999,63.480000,1.0,0.529130,0.527839
100,1,837.0,837.0,0.0,0.0,0.19,0.20,0.19,0.2,32.0,...,368.433960,353.0,53.490002,58.759998,42.220001,57.919998,66.180000,1.0,0.560568,0.555983
101,1,19078.0,19078.0,0.0,0.0,0.20,0.21,0.19,0.2,527.0,...,368.113220,352.0,56.660000,60.490002,40.509998,48.650002,63.700001,1.0,0.528817,0.532484
102,1,0.0,0.0,919.0,919.0,0.19,0.21,0.19,0.2,59.0,...,367.870361,352.0,53.169998,53.220001,50.070000,57.130001,64.269997,1.0,0.519406,0.519825
103,1,11898.0,11898.0,0.0,0.0,0.18,0.20,0.18,0.2,230.0,...,367.037048,352.0,50.880001,53.230000,52.439999,56.279999,66.830002,1.0,0.522233,0.524440
104,1,0.0,0.0,19876.0,19876.0,0.20,0.21,0.20,0.2,414.0,...,369.037750,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.539235,0.537959
105,1,14813.0,14813.0,0.0,0.0,0.19,0.20,0.19,0.2,304.0,...,367.018860,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.521289,0.526463
106,1,24728.0,24728.0,0.0,0.0,0.20,0.20,0.20,0.2,818.0,...,369.698120,353.0,48.400002,60.709999,53.139999,49.389999,62.830002,1.0,0.524606,0.525536
107,1,26596.0,26596.0,0.0,0.0,0.20,0.21,0.20,0.2,874.0,...,362.388885,343.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.521133,0.523349
108,1,19056.0,19056.0,0.0,0.0,0.20,0.21,0.20,0.2,527.0,...,368.660370,352.0,57.750000,65.480003,52.270000,56.540001,64.349998,1.0,0.526346,0.532303
109,1,5539.0,5539.0,0.0,0.0,0.19,0.20,0.19,0.2,162.0,...,367.407410,354.0,54.660000,54.439999,42.389999,56.790001,64.930000,1.0,0.520252,0.526957
110,1,22377.0,22377.0,0.0,0.0,0.20,0.21,0.20,0.2,720.0,...,367.169800,352.0,58.439999,56.930000,51.310001,58.020000,63.860001,1.0,0.529236,0.525871
111,1,11748.0,11748.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,369.129639,355.0,47.930000,47.840000,40.459999,55.380001,64.580002,1.0,0.521987,0.527598
112,1,2932.0,2932.0,0.0,0.0,0.20,0.21,0.20,0.2,123.0,...,367.660370,353.0,56.860001,50.459999,40.490002,57.340000,66.370003,1.0,0.516711,0.525377
113,1,0.0,0.0,26155.0,26155.0,0.20,0.21,0.20,0.2,618.0,...,368.509430,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.527976,0.538449
114,1,0.0,0.0,11942.0,11942.0,0.20,0.21,0.20,0.2,394.0,...,367.074066,352.0,55.689999,53.029999,53.750000,58.959999,64.010002,1.0,0.525086,0.531559
115,1,7830.0,7830.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,372.830200,352.0,40.419998,38.330002,40.139999,30.719999,76.519997,0.0,0.531254,0.533062
116,1,0.0,0.0,19864.0,19864.0,0.20,0.21,0.20,0.2,414.0,...,372.870361,353.0,34.400002,35.880001,50.360001,38.450001,71.419998,0.0,0.538049,0.538865
117,1,24883.0,24883.0,0.0,0.0,0.20,0.21,0.20,0.2,823.0,...,364.660370,342.0,53.700001,54.980000,56.419998,58.470001,63.770000,1.0,0.515892,0.521204
118,1,0.0,0.0,21289.0,21289.0,0.20,0.21,0.19,0.2,646.0,...,369.092590,353.0,53.270000,56.009998,59.470001,58.889999,65.269997,1.0,0.542848,0.545300
119,1,0.0,0.0,806.0,806.0,0.19,0.21,0.19,0.2,58.0,...,368.490570,353.0,53.369999,58.320000,49.099998,53.290001,62.480000,1.0,0.515884,0.521071

,PRODUCT_CODE,X_128,X_129,X_130,X_131,X_132,X_133,X_134,X_135,X_136,...,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,Y_Quality,prediction_label
84,1,3538.0,3538.0,0.0,0.0,0.20,0.21,0.20,0.2,107.0,...,363.641510,342.0,49.790001,53.000000,53.740002,50.090000,62.770000,1.0,0.521341,0.526013
85,1,0.0,0.0,829.0,829.0,0.19,0.20,0.19,0.2,58.0,...,367.905670,352.0,51.099998,52.730000,56.139999,50.799999,62.950001,1.0,0.524090,0.521335
86,1,24448.0,24448.0,0.0,0.0,0.19,0.21,0.19,0.2,811.0,...,367.555542,352.0,54.529999,59.330002,50.849998,55.330002,65.870003,1.0,0.520856,0.522415
87,1,11772.0,11772.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,370.648163,353.0,47.189999,53.889999,52.970001,56.320000,66.690002,1.0,0.522460,0.526683
88,1,25323.0,25323.0,0.0,0.0,0.20,0.21,0.20,0.2,653.0,...,368.830200,352.0,53.490002,55.590000,60.000000,58.180000,66.790001,1.0,0.538629,0.532757
89,1,17441.0,17441.0,0.0,0.0,0.20,0.21,0.20,0.2,571.0,...,368.528290,352.0,60.240002,56.160000,54.520000,56.419998,66.849998,1.0,0.515083,0.526143
90,1,11743.0,11743.0,0.0,0.0,0.20,0.21,0.19,0.2,421.0,...,367.166656,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.535405,0.526643
91,1,0.0,0.0,6473.0,6473.0,0.20,0.21,0.20,0.2,171.0,...,369.358490,353.0,59.380001,57.130001,50.150002,57.169998,64.010002,1.0,0.544584,0.530577
92,1,0.0,0.0,1561.0,1561.0,0.20,0.21,0.20,0.2,67.0,...,368.358490,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.543957,0.530479
93,1,2947.0,2947.0,0.0,0.0,0.20,0.21,0.19,0.2,123.0,...,367.716980,352.0,48.279999,51.250000,55.430000,56.950001,67.440002,1.0,0.519451,0.522128
94,1,0.0,0.0,19866.0,19866.0,0.20,0.21,0.20,0.2,414.0,...,374.425934,352.0,39.160000,35.490002,52.270000,31.450001,72.459999,0.0,0.539149,0.538642
95,1,0.0,0.0,6482.0,6482.0,0.20,0.21,0.20,0.2,172.0,...,367.679260,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.547481,0.531829
96,1,0.0,0.0,19854.0,19854.0,0.20,0.21,0.20,0.2,413.0,...,367.735840,353.0,38.889999,42.820000,43.919998,35.340000,72.550003,0.0,0.541819,0.540143
97,1,23491.0,23491.0,0.0,0.0,0.20,0.21,0.20,0.2,771.0,...,370.018860,355.0,58.139999,57.270000,52.730000,56.060001,66.760002,1.0,0.530202,0.529191
98,1,8207.0,8207.0,0.0,0.0,0.19,0.20,0.19,0.2,172.0,...,362.111115,343.0,57.939999,55.840000,53.240002,56.720001,64.169998,1.0,0.540106,0.535463
99,1,21863.0,21863.0,0.0,0.0,0.20,0.21,0.20,0.2,705.0,...,367.886780,354.0,58.070000,55.230000,51.330002,56.779999,63.480000,1.0,0.529130,0.528111
100,1,837.0,837.0,0.0,0.0,0.19,0.20,0.19,0.2,32.0,...,368.433960,353.0,53.490002,58.759998,42.220001,57.919998,66.180000,1.0,0.560568,0.558326
101,1,19078.0,19078.0,0.0,0.0,0.20,0.21,0.19,0.2,527.0,...,368.113220,352.0,56.660000,60.490002,40.509998,48.650002,63.700001,1.0,0.528817,0.530631
102,1,0.0,0.0,919.0,919.0,0.19,0.21,0.19,0.2,59.0,...,367.870361,352.0,53.169998,53.220001,50.070000,57.130001,64.269997,1.0,0.519406,0.521071
103,1,11898.0,11898.0,0.0,0.0,0.18,0.20,0.18,0.2,230.0,...,367.037048,352.0,50.880001,53.230000,52.439999,56.279999,66.830002,1.0,0.522233,0.525024
104,1,0.0,0.0,19876.0,19876.0,0.20,0.21,0.20,0.2,414.0,...,369.037750,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.539235,0.538559
105,1,14813.0,14813.0,0.0,0.0,0.19,0.20,0.19,0.2,304.0,...,367.018860,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.521289,0.525020
106,1,24728.0,24728.0,0.0,0.0,0.20,0.20,0.20,0.2,818.0,...,369.698120,353.0,48.400002,60.709999,53.139999,49.389999,62.830002,1.0,0.524606,0.525275
107,1,26596.0,26596.0,0.0,0.0,0.20,0.21,0.20,0.2,874.0,...,362.388885,343.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.521133,0.522724
108,1,19056.0,19056.0,0.0,0.0,0.20,0.21,0.20,0.2,527.0,...,368.660370,352.0,57.750000,65.480003,52.270000,56.540001,64.349998,1.0,0.526346,0.529269
109,1,5539.0,5539.0,0.0,0.0,0.19,0.20,0.19,0.2,162.0,...,367.407410,354.0,54.660000,54.439999,42.389999,56.790001,64.930000,1.0,0.520252,0.527229
110,1,22377.0,22377.0,0.0,0.0,0.20,0.21,0.20,0.2,720.0,...,367.169800,352.0,58.439999,56.930000,51.310001,58.020000,63.860001,1.0,0.529236,0.526364
111,1,11748.0,11748.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,369.129639,355.0,47.930000,47.840000,40.459999,55.380001,64.580002,1.0,0.521987,0.525653
112,1,2932.0,2932.0,0.0,0.0,0.20,0.21,0.20,0.2,123.0,...,367.660370,353.0,56.860001,50.459999,40.490002,57.340000,66.370003,1.0,0.516711,0.521511
113,1,0.0,0.0,26155.0,26155.0,0.20,0.21,0.20,0.2,618.0,...,368.509430,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.527976,0.543407
114,1,0.0,0.0,11942.0,11942.0,0.20,0.21,0.20,0.2,394.0,...,367.074066,352.0,55.689999,53.029999,53.750000,58.959999,64.010002,1.0,0.525086,0.530383
115,1,7830.0,7830.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,372.830200,352.0,40.419998,38.330002,40.139999,30.719999,76.519997,0.0,0.531254,0.532856
116,1,0.0,0.0,19864.0,19864.0,0.20,0.21,0.20,0.2,414.0,...,372.870361,353.0,34.400002,35.880001,50.360001,38.450001,71.419998,0.0,0.538049,0.539052
117,1,24883.0,24883.0,0.0,0.0,0.20,0.21,0.20,0.2,823.0,...,364.660370,342.0,53.700001,54.980000,56.419998,58.470001,63.770000,1.0,0.515892,0.519616
118,1,0.0,0.0,21289.0,21289.0,0.20,0.21,0.19,0.2,646.0,...,369.092590,353.0,53.270000,56.009998,59.470001,58.889999,65.269997,1.0,0.542848,0.547944
119,1,0.0,0.0,806.0,806.0,0.19,0.21,0.19,0.2,58.0,...,368.490570,353.0,53.369999,58.320000,49.099998,53.290001,62.480000,1.0,0.515884,0.521105

,PRODUCT_CODE,X_128,X_129,X_130,X_131,X_132,X_133,X_134,X_135,X_136,...,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,Y_Quality,prediction_label
84,1,3538.0,3538.0,0.0,0.0,0.20,0.21,0.20,0.2,107.0,...,363.641510,342.0,49.790001,53.000000,53.740002,50.090000,62.770000,1.0,0.521341,0.526073
85,1,0.0,0.0,829.0,829.0,0.19,0.20,0.19,0.2,58.0,...,367.905670,352.0,51.099998,52.730000,56.139999,50.799999,62.950001,1.0,0.524090,0.522028
86,1,24448.0,24448.0,0.0,0.0,0.19,0.21,0.19,0.2,811.0,...,367.555542,352.0,54.529999,59.330002,50.849998,55.330002,65.870003,1.0,0.520856,0.524568
87,1,11772.0,11772.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,370.648163,353.0,47.189999,53.889999,52.970001,56.320000,66.690002,1.0,0.522460,0.526380
88,1,25323.0,25323.0,0.0,0.0,0.20,0.21,0.20,0.2,653.0,...,368.830200,352.0,53.490002,55.590000,60.000000,58.180000,66.790001,1.0,0.538629,0.532191
89,1,17441.0,17441.0,0.0,0.0,0.20,0.21,0.20,0.2,571.0,...,368.528290,352.0,60.240002,56.160000,54.520000,56.419998,66.849998,1.0,0.515083,0.530310
90,1,11743.0,11743.0,0.0,0.0,0.20,0.21,0.19,0.2,421.0,...,367.166656,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.535405,0.527653
91,1,0.0,0.0,6473.0,6473.0,0.20,0.21,0.20,0.2,171.0,...,369.358490,353.0,59.380001,57.130001,50.150002,57.169998,64.010002,1.0,0.544584,0.536610
92,1,0.0,0.0,1561.0,1561.0,0.20,0.21,0.20,0.2,67.0,...,368.358490,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.543957,0.533326
93,1,2947.0,2947.0,0.0,0.0,0.20,0.21,0.19,0.2,123.0,...,367.716980,352.0,48.279999,51.250000,55.430000,56.950001,67.440002,1.0,0.519451,0.525726
94,1,0.0,0.0,19866.0,19866.0,0.20,0.21,0.20,0.2,414.0,...,374.425934,352.0,39.160000,35.490002,52.270000,31.450001,72.459999,0.0,0.539149,0.537060
95,1,0.0,0.0,6482.0,6482.0,0.20,0.21,0.20,0.2,172.0,...,367.679260,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.547481,0.536309
96,1,0.0,0.0,19854.0,19854.0,0.20,0.21,0.20,0.2,413.0,...,367.735840,353.0,38.889999,42.820000,43.919998,35.340000,72.550003,0.0,0.541819,0.540254
97,1,23491.0,23491.0,0.0,0.0,0.20,0.21,0.20,0.2,771.0,...,370.018860,355.0,58.139999,57.270000,52.730000,56.060001,66.760002,1.0,0.530202,0.529344
98,1,8207.0,8207.0,0.0,0.0,0.19,0.20,0.19,0.2,172.0,...,362.111115,343.0,57.939999,55.840000,53.240002,56.720001,64.169998,1.0,0.540106,0.535261
99,1,21863.0,21863.0,0.0,0.0,0.20,0.21,0.20,0.2,705.0,...,367.886780,354.0,58.070000,55.230000,51.330002,56.779999,63.480000,1.0,0.529130,0.529599
100,1,837.0,837.0,0.0,0.0,0.19,0.20,0.19,0.2,32.0,...,368.433960,353.0,53.490002,58.759998,42.220001,57.919998,66.180000,1.0,0.560568,0.552218
101,1,19078.0,19078.0,0.0,0.0,0.20,0.21,0.19,0.2,527.0,...,368.113220,352.0,56.660000,60.490002,40.509998,48.650002,63.700001,1.0,0.528817,0.532231
102,1,0.0,0.0,919.0,919.0,0.19,0.21,0.19,0.2,59.0,...,367.870361,352.0,53.169998,53.220001,50.070000,57.130001,64.269997,1.0,0.519406,0.522225
103,1,11898.0,11898.0,0.0,0.0,0.18,0.20,0.18,0.2,230.0,...,367.037048,352.0,50.880001,53.230000,52.439999,56.279999,66.830002,1.0,0.522233,0.526742
104,1,0.0,0.0,19876.0,19876.0,0.20,0.21,0.20,0.2,414.0,...,369.037750,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.539235,0.537873
105,1,14813.0,14813.0,0.0,0.0,0.19,0.20,0.19,0.2,304.0,...,367.018860,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.521289,0.525070
106,1,24728.0,24728.0,0.0,0.0,0.20,0.20,0.20,0.2,818.0,...,369.698120,353.0,48.400002,60.709999,53.139999,49.389999,62.830002,1.0,0.524606,0.524900
107,1,26596.0,26596.0,0.0,0.0,0.20,0.21,0.20,0.2,874.0,...,362.388885,343.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.521133,0.523002
108,1,19056.0,19056.0,0.0,0.0,0.20,0.21,0.20,0.2,527.0,...,368.660370,352.0,57.750000,65.480003,52.270000,56.540001,64.349998,1.0,0.526346,0.534914
109,1,5539.0,5539.0,0.0,0.0,0.19,0.20,0.19,0.2,162.0,...,367.407410,354.0,54.660000,54.439999,42.389999,56.790001,64.930000,1.0,0.520252,0.525332
110,1,22377.0,22377.0,0.0,0.0,0.20,0.21,0.20,0.2,720.0,...,367.169800,352.0,58.439999,56.930000,51.310001,58.020000,63.860001,1.0,0.529236,0.530188
111,1,11748.0,11748.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,369.129639,355.0,47.930000,47.840000,40.459999,55.380001,64.580002,1.0,0.521987,0.527230
112,1,2932.0,2932.0,0.0,0.0,0.20,0.21,0.20,0.2,123.0,...,367.660370,353.0,56.860001,50.459999,40.490002,57.340000,66.370003,1.0,0.516711,0.527350
113,1,0.0,0.0,26155.0,26155.0,0.20,0.21,0.20,0.2,618.0,...,368.509430,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.527976,0.535765
114,1,0.0,0.0,11942.0,11942.0,0.20,0.21,0.20,0.2,394.0,...,367.074066,352.0,55.689999,53.029999,53.750000,58.959999,64.010002,1.0,0.525086,0.528687
115,1,7830.0,7830.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,372.830200,352.0,40.419998,38.330002,40.139999,30.719999,76.519997,0.0,0.531254,0.533707
116,1,0.0,0.0,19864.0,19864.0,0.20,0.21,0.20,0.2,414.0,...,372.870361,353.0,34.400002,35.880001,50.360001,38.450001,71.419998,0.0,0.538049,0.538261
117,1,24883.0,24883.0,0.0,0.0,0.20,0.21,0.20,0.2,823.0,...,364.660370,342.0,53.700001,54.980000,56.419998,58.470001,63.770000,1.0,0.515892,0.520627
118,1,0.0,0.0,21289.0,21289.0,0.20,0.21,0.19,0.2,646.0,...,369.092590,353.0,53.270000,56.009998,59.470001,58.889999,65.269997,1.0,0.542848,0.544719
119,1,0.0,0.0,806.0,806.0,0.19,0.21,0.19,0.2,58.0,...,368.490570,353.0,53.369999,58.320000,49.099998,53.290001,62.480000,1.0,0.515884,0.522790

,PRODUCT_CODE,X_128,X_129,X_130,X_131,X_132,X_133,X_134,X_135,X_136,...,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,Y_Quality,prediction_label
84,1,3538.0,3538.0,0.0,0.0,0.20,0.21,0.20,0.2,107.0,...,363.641510,342.0,49.790001,53.000000,53.740002,50.090000,62.770000,1.0,0.521341,0.528105
85,1,0.0,0.0,829.0,829.0,0.19,0.20,0.19,0.2,58.0,...,367.905670,352.0,51.099998,52.730000,56.139999,50.799999,62.950001,1.0,0.524090,0.520254
86,1,24448.0,24448.0,0.0,0.0,0.19,0.21,0.19,0.2,811.0,...,367.555542,352.0,54.529999,59.330002,50.849998,55.330002,65.870003,1.0,0.520856,0.525075
87,1,11772.0,11772.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,370.648163,353.0,47.189999,53.889999,52.970001,56.320000,66.690002,1.0,0.522460,0.519737
88,1,25323.0,25323.0,0.0,0.0,0.20,0.21,0.20,0.2,653.0,...,368.830200,352.0,53.490002,55.590000,60.000000,58.180000,66.790001,1.0,0.538629,0.532075
89,1,17441.0,17441.0,0.0,0.0,0.20,0.21,0.20,0.2,571.0,...,368.528290,352.0,60.240002,56.160000,54.520000,56.419998,66.849998,1.0,0.515083,0.525621
90,1,11743.0,11743.0,0.0,0.0,0.20,0.21,0.19,0.2,421.0,...,367.166656,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.535405,0.522150
91,1,0.0,0.0,6473.0,6473.0,0.20,0.21,0.20,0.2,171.0,...,369.358490,353.0,59.380001,57.130001,50.150002,57.169998,64.010002,1.0,0.544584,0.536692
92,1,0.0,0.0,1561.0,1561.0,0.20,0.21,0.20,0.2,67.0,...,368.358490,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.543957,0.529910
93,1,2947.0,2947.0,0.0,0.0,0.20,0.21,0.19,0.2,123.0,...,367.716980,352.0,48.279999,51.250000,55.430000,56.950001,67.440002,1.0,0.519451,0.523734
94,1,0.0,0.0,19866.0,19866.0,0.20,0.21,0.20,0.2,414.0,...,374.425934,352.0,39.160000,35.490002,52.270000,31.450001,72.459999,0.0,0.539149,0.538514
95,1,0.0,0.0,6482.0,6482.0,0.20,0.21,0.20,0.2,172.0,...,367.679260,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.547481,0.541072
96,1,0.0,0.0,19854.0,19854.0,0.20,0.21,0.20,0.2,413.0,...,367.735840,353.0,38.889999,42.820000,43.919998,35.340000,72.550003,0.0,0.541819,0.539284
97,1,23491.0,23491.0,0.0,0.0,0.20,0.21,0.20,0.2,771.0,...,370.018860,355.0,58.139999,57.270000,52.730000,56.060001,66.760002,1.0,0.530202,0.532623
98,1,8207.0,8207.0,0.0,0.0,0.19,0.20,0.19,0.2,172.0,...,362.111115,343.0,57.939999,55.840000,53.240002,56.720001,64.169998,1.0,0.540106,0.537022
99,1,21863.0,21863.0,0.0,0.0,0.20,0.21,0.20,0.2,705.0,...,367.886780,354.0,58.070000,55.230000,51.330002,56.779999,63.480000,1.0,0.529130,0.529525
100,1,837.0,837.0,0.0,0.0,0.19,0.20,0.19,0.2,32.0,...,368.433960,353.0,53.490002,58.759998,42.220001,57.919998,66.180000,1.0,0.560568,0.551058
101,1,19078.0,19078.0,0.0,0.0,0.20,0.21,0.19,0.2,527.0,...,368.113220,352.0,56.660000,60.490002,40.509998,48.650002,63.700001,1.0,0.528817,0.531835
102,1,0.0,0.0,919.0,919.0,0.19,0.21,0.19,0.2,59.0,...,367.870361,352.0,53.169998,53.220001,50.070000,57.130001,64.269997,1.0,0.519406,0.520396
103,1,11898.0,11898.0,0.0,0.0,0.18,0.20,0.18,0.2,230.0,...,367.037048,352.0,50.880001,53.230000,52.439999,56.279999,66.830002,1.0,0.522233,0.527387
104,1,0.0,0.0,19876.0,19876.0,0.20,0.21,0.20,0.2,414.0,...,369.037750,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.539235,0.538204
105,1,14813.0,14813.0,0.0,0.0,0.19,0.20,0.19,0.2,304.0,...,367.018860,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.521289,0.525436
106,1,24728.0,24728.0,0.0,0.0,0.20,0.20,0.20,0.2,818.0,...,369.698120,353.0,48.400002,60.709999,53.139999,49.389999,62.830002,1.0,0.524606,0.526258
107,1,26596.0,26596.0,0.0,0.0,0.20,0.21,0.20,0.2,874.0,...,362.388885,343.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.521133,0.520806
108,1,19056.0,19056.0,0.0,0.0,0.20,0.21,0.20,0.2,527.0,...,368.660370,352.0,57.750000,65.480003,52.270000,56.540001,64.349998,1.0,0.526346,0.536306
109,1,5539.0,5539.0,0.0,0.0,0.19,0.20,0.19,0.2,162.0,...,367.407410,354.0,54.660000,54.439999,42.389999,56.790001,64.930000,1.0,0.520252,0.524404
110,1,22377.0,22377.0,0.0,0.0,0.20,0.21,0.20,0.2,720.0,...,367.169800,352.0,58.439999,56.930000,51.310001,58.020000,63.860001,1.0,0.529236,0.530044
111,1,11748.0,11748.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,369.129639,355.0,47.930000,47.840000,40.459999,55.380001,64.580002,1.0,0.521987,0.525454
112,1,2932.0,2932.0,0.0,0.0,0.20,0.21,0.20,0.2,123.0,...,367.660370,353.0,56.860001,50.459999,40.490002,57.340000,66.370003,1.0,0.516711,0.523769
113,1,0.0,0.0,26155.0,26155.0,0.20,0.21,0.20,0.2,618.0,...,368.509430,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.527976,0.546698
114,1,0.0,0.0,11942.0,11942.0,0.20,0.21,0.20,0.2,394.0,...,367.074066,352.0,55.689999,53.029999,53.750000,58.959999,64.010002,1.0,0.525086,0.527518
115,1,7830.0,7830.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,372.830200,352.0,40.419998,38.330002,40.139999,30.719999,76.519997,0.0,0.531254,0.532184
116,1,0.0,0.0,19864.0,19864.0,0.20,0.21,0.20,0.2,414.0,...,372.870361,353.0,34.400002,35.880001,50.360001,38.450001,71.419998,0.0,0.538049,0.539098
117,1,24883.0,24883.0,0.0,0.0,0.20,0.21,0.20,0.2,823.0,...,364.660370,342.0,53.700001,54.980000,56.419998,58.470001,63.770000,1.0,0.515892,0.519284
118,1,0.0,0.0,21289.0,21289.0,0.20,0.21,0.19,0.2,646.0,...,369.092590,353.0,53.270000,56.009998,59.470001,58.889999,65.269997,1.0,0.542848,0.556272
119,1,0.0,0.0,806.0,806.0,0.19,0.21,0.19,0.2,58.0,...,368.490570,353.0,53.369999,58.320000,49.099998,53.290001,62.480000,1.0,0.515884,0.521591

,PRODUCT_CODE,X_128,X_129,X_130,X_131,X_132,X_133,X_134,X_135,X_136,...,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,Y_Quality,prediction_label
84,1,3538.0,3538.0,0.0,0.0,0.20,0.21,0.20,0.2,107.0,...,363.641510,342.0,49.790001,53.000000,53.740002,50.090000,62.770000,1.0,0.521341,0.525559
85,1,0.0,0.0,829.0,829.0,0.19,0.20,0.19,0.2,58.0,...,367.905670,352.0,51.099998,52.730000,56.139999,50.799999,62.950001,1.0,0.524090,0.523427
86,1,24448.0,24448.0,0.0,0.0,0.19,0.21,0.19,0.2,811.0,...,367.555542,352.0,54.529999,59.330002,50.849998,55.330002,65.870003,1.0,0.520856,0.522877
87,1,11772.0,11772.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,370.648163,353.0,47.189999,53.889999,52.970001,56.320000,66.690002,1.0,0.522460,0.527854
88,1,25323.0,25323.0,0.0,0.0,0.20,0.21,0.20,0.2,653.0,...,368.830200,352.0,53.490002,55.590000,60.000000,58.180000,66.790001,1.0,0.538629,0.530171
89,1,17441.0,17441.0,0.0,0.0,0.20,0.21,0.20,0.2,571.0,...,368.528290,352.0,60.240002,56.160000,54.520000,56.419998,66.849998,1.0,0.515083,0.527590
90,1,11743.0,11743.0,0.0,0.0,0.20,0.21,0.19,0.2,421.0,...,367.166656,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.535405,0.528211
91,1,0.0,0.0,6473.0,6473.0,0.20,0.21,0.20,0.2,171.0,...,369.358490,353.0,59.380001,57.130001,50.150002,57.169998,64.010002,1.0,0.544584,0.531765
92,1,0.0,0.0,1561.0,1561.0,0.20,0.21,0.20,0.2,67.0,...,368.358490,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.543957,0.537814
93,1,2947.0,2947.0,0.0,0.0,0.20,0.21,0.19,0.2,123.0,...,367.716980,352.0,48.279999,51.250000,55.430000,56.950001,67.440002,1.0,0.519451,0.527599
94,1,0.0,0.0,19866.0,19866.0,0.20,0.21,0.20,0.2,414.0,...,374.425934,352.0,39.160000,35.490002,52.270000,31.450001,72.459999,0.0,0.539149,0.536780
95,1,0.0,0.0,6482.0,6482.0,0.20,0.21,0.20,0.2,172.0,...,367.679260,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.547481,0.534924
96,1,0.0,0.0,19854.0,19854.0,0.20,0.21,0.20,0.2,413.0,...,367.735840,353.0,38.889999,42.820000,43.919998,35.340000,72.550003,0.0,0.541819,0.537536
97,1,23491.0,23491.0,0.0,0.0,0.20,0.21,0.20,0.2,771.0,...,370.018860,355.0,58.139999,57.270000,52.730000,56.060001,66.760002,1.0,0.530202,0.528073
98,1,8207.0,8207.0,0.0,0.0,0.19,0.20,0.19,0.2,172.0,...,362.111115,343.0,57.939999,55.840000,53.240002,56.720001,64.169998,1.0,0.540106,0.530974
99,1,21863.0,21863.0,0.0,0.0,0.20,0.21,0.20,0.2,705.0,...,367.886780,354.0,58.070000,55.230000,51.330002,56.779999,63.480000,1.0,0.529130,0.528163
100,1,837.0,837.0,0.0,0.0,0.19,0.20,0.19,0.2,32.0,...,368.433960,353.0,53.490002,58.759998,42.220001,57.919998,66.180000,1.0,0.560568,0.555825
101,1,19078.0,19078.0,0.0,0.0,0.20,0.21,0.19,0.2,527.0,...,368.113220,352.0,56.660000,60.490002,40.509998,48.650002,63.700001,1.0,0.528817,0.529871
102,1,0.0,0.0,919.0,919.0,0.19,0.21,0.19,0.2,59.0,...,367.870361,352.0,53.169998,53.220001,50.070000,57.130001,64.269997,1.0,0.519406,0.525559
103,1,11898.0,11898.0,0.0,0.0,0.18,0.20,0.18,0.2,230.0,...,367.037048,352.0,50.880001,53.230000,52.439999,56.279999,66.830002,1.0,0.522233,0.527590
104,1,0.0,0.0,19876.0,19876.0,0.20,0.21,0.20,0.2,414.0,...,369.037750,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.539235,0.535673
105,1,14813.0,14813.0,0.0,0.0,0.19,0.20,0.19,0.2,304.0,...,367.018860,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.521289,0.527854
106,1,24728.0,24728.0,0.0,0.0,0.20,0.20,0.20,0.2,818.0,...,369.698120,353.0,48.400002,60.709999,53.139999,49.389999,62.830002,1.0,0.524606,0.525339
107,1,26596.0,26596.0,0.0,0.0,0.20,0.21,0.20,0.2,874.0,...,362.388885,343.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.521133,0.525020
108,1,19056.0,19056.0,0.0,0.0,0.20,0.21,0.20,0.2,527.0,...,368.660370,352.0,57.750000,65.480003,52.270000,56.540001,64.349998,1.0,0.526346,0.528163
109,1,5539.0,5539.0,0.0,0.0,0.19,0.20,0.19,0.2,162.0,...,367.407410,354.0,54.660000,54.439999,42.389999,56.790001,64.930000,1.0,0.520252,0.527854
110,1,22377.0,22377.0,0.0,0.0,0.20,0.21,0.20,0.2,720.0,...,367.169800,352.0,58.439999,56.930000,51.310001,58.020000,63.860001,1.0,0.529236,0.528163
111,1,11748.0,11748.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,369.129639,355.0,47.930000,47.840000,40.459999,55.380001,64.580002,1.0,0.521987,0.528153
112,1,2932.0,2932.0,0.0,0.0,0.20,0.21,0.20,0.2,123.0,...,367.660370,353.0,56.860001,50.459999,40.490002,57.340000,66.370003,1.0,0.516711,0.525418
113,1,0.0,0.0,26155.0,26155.0,0.20,0.21,0.20,0.2,618.0,...,368.509430,353.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.527976,0.534081
114,1,0.0,0.0,11942.0,11942.0,0.20,0.21,0.20,0.2,394.0,...,367.074066,352.0,55.689999,53.029999,53.750000,58.959999,64.010002,1.0,0.525086,0.528770
115,1,7830.0,7830.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,372.830200,352.0,40.419998,38.330002,40.139999,30.719999,76.519997,0.0,0.531254,0.533511
116,1,0.0,0.0,19864.0,19864.0,0.20,0.21,0.20,0.2,414.0,...,372.870361,353.0,34.400002,35.880001,50.360001,38.450001,71.419998,0.0,0.538049,0.536514
117,1,24883.0,24883.0,0.0,0.0,0.20,0.21,0.20,0.2,823.0,...,364.660370,342.0,53.700001,54.980000,56.419998,58.470001,63.770000,1.0,0.515892,0.522431
118,1,0.0,0.0,21289.0,21289.0,0.20,0.21,0.19,0.2,646.0,...,369.092590,353.0,53.270000,56.009998,59.470001,58.889999,65.269997,1.0,0.542848,0.539263
119,1,0.0,0.0,806.0,806.0,0.19,0.21,0.19,0.2,58.0,...,368.490570,353.0,53.369999,58.320000,49.099998,53.290001,62.480000,1.0,0.515884,0.523963

In [180]:
T05_final_regression_model = finalize_model(T05_model_gbr)

In [181]:
T05_prediction = predict_model(T05_final_regression_model, data=T05_data)
#prediction.drop(['Y_Quality'], axis = 1, inplace = True)

In [182]:
T05_y_class = pd.DataFrame(T05_class, columns = ['Y_Class'])
T05_idx = T05_y_class.index
T05_y_class = T05_y_class.reset_index()
T05_prediction = pd.concat([T05_prediction, T05_y_class], axis = 1)
T05_prediction = T05_prediction.set_index('index')
T05_prediction.drop(['Y_Class'], axis = 1, inplace = True)

In [183]:
T05_prediction['Y_Class'] = 22

T05_idx = T05_prediction.index
for i in range (len(T05_prediction)) :
    if (T05_prediction.iloc[i]['prediction_label'] <= (0.525046 + 0.525086)/2) :
        T05_prediction.loc[T05_idx[i], 'Y_Class'] = 0
    elif ((0.525046 + 0.525086)/2 < T05_prediction.iloc[i]['prediction_label']) and (T05_prediction.iloc[i]['prediction_label'] < (0.534843 + 0.535405)/2) :
        T05_prediction.loc[T05_idx[i], 'Y_Class'] = 1
    elif ((0.534843 + 0.535405)/2 <= T05_prediction.iloc[i]['prediction_label']) :
        T05_prediction.loc[T05_idx[i], 'Y_Class'] = 2
T05_prediction

,PRODUCT_CODE,X_128,X_129,X_130,X_131,X_132,X_133,X_134,X_135,X_136,...,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,prediction_label,Y_Class
index,,,,,,,,,,,,,,,,,,,,,
0,1,7813.0,7813.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,368.296295,353.0,39.340000,40.889999,32.560001,34.090000,77.769997,0.0,0.533353,1
1,1,0.0,0.0,19854.0,19854.0,0.20,0.21,0.20,0.2,413.0,...,367.735840,353.0,38.889999,42.820000,43.919998,35.340000,72.550003,0.0,0.541819,2
2,1,7815.0,7815.0,0.0,0.0,0.19,0.20,0.19,0.2,228.0,...,367.320740,353.0,39.189999,36.650002,42.470001,36.529999,78.349998,0.0,0.531420,1
3,1,0.0,0.0,19856.0,19856.0,0.20,0.21,0.20,0.2,414.0,...,369.188690,353.0,37.740002,39.169998,52.169998,30.580000,71.779999,0.0,0.537425,2
4,1,7817.0,7817.0,0.0,0.0,0.19,0.20,0.18,0.2,228.0,...,367.351837,352.0,38.700001,41.889999,46.930000,33.090000,76.970001,0.0,0.531584,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,1,11864.0,11864.0,0.0,0.0,0.19,0.20,0.19,0.2,230.0,...,367.333344,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.523439,0
582,1,11898.0,11898.0,0.0,0.0,0.18,0.20,0.18,0.2,230.0,...,367.037048,352.0,50.880001,53.230000,52.439999,56.279999,66.830002,1.0,0.522299,0
583,1,11920.0,11920.0,0.0,0.0,0.19,0.20,0.19,0.2,230.0,...,371.943390,353.0,51.709999,59.639999,54.610001,57.049999,63.180000,1.0,0.522449,0
594,1,14810.0,14810.0,0.0,0.0,0.19,0.20,0.19,0.2,304.0,...,369.811310,353.0,49.470001,53.070000,50.889999,55.099998,66.489998,1.0,0.523876,0
595,1,14813.0,14813.0,0.0,0.0,0.19,0.20,0.19,0.2,304.0,...,367.018860,352.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.521398,0

In [184]:
T05_prediction['Y_Class'].unique()

array([1, 2, 0], dtype=int64)

# T01

In [185]:
T01_class = T01['Y_Class']
T01_target = T01['Y_Quality']
T01_data = T01.drop(['Y_Class', 'Y_Quality'], axis = 1)
T01_data

,PRODUCT_CODE,X_246,X_247,X_248,X_249,X_250,X_251,X_252,X_253,X_254,...,X_2856,X_2857,X_2858,X_2859,X_2860,X_2861,X_2862,X_2863,X_2864,X_2865
27,1,1.0,87.0,144.0,45.0,12.0,0.0,45.0,12.0,51.0,...,177.1,186.2,169.907143,156.5,188.4,175.225000,159.9,446.0,430.442308,413.0
28,1,1.0,89.0,0.0,45.0,11.0,90.0,45.0,11.0,42.0,...,170.5,186.8,182.758621,175.7,182.0,174.727586,160.5,446.0,429.716981,413.0
31,1,4.0,93.0,150.0,45.0,12.0,0.0,45.0,12.0,51.0,...,170.8,207.8,191.775862,166.0,195.1,188.696552,181.7,446.0,429.245283,413.0
32,1,1.0,89.0,152.0,45.0,12.0,0.0,45.0,12.0,51.0,...,174.5,190.7,181.686207,172.7,180.0,168.775862,154.1,446.0,429.981132,415.0
33,1,1.0,95.0,0.0,45.0,11.0,98.0,45.0,11.0,42.0,...,173.2,195.0,184.365517,171.4,175.7,168.258621,158.3,446.0,429.301887,413.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,1,1.0,90.0,142.0,45.0,11.0,0.0,45.0,12.0,51.0,...,189.0,201.3,190.407143,181.1,192.6,185.207143,173.2,466.0,446.038461,427.0
553,1,2.0,90.0,0.0,45.0,11.0,122.0,45.0,11.0,42.0,...,215.1,222.4,211.362069,195.7,201.2,191.286207,181.7,466.0,444.924528,424.0
554,1,1.0,89.0,0.0,45.0,11.0,122.0,45.0,11.0,42.0,...,214.1,218.3,211.517857,205.1,193.9,185.071429,177.7,465.0,441.903846,423.0
584,1,1.0,89.0,0.0,45.0,11.0,11.0,45.0,11.0,42.0,...,203.1,208.5,201.160714,193.0,207.1,195.682143,184.9,466.0,448.634615,432.0
585,1,1.0,93.0,63.0,45.0,12.0,0.0,45.0,12.0,51.0,...,204.1,216.0,205.079310,196.1,192.2,187.396552,176.7,472.0,450.339623,432.0

In [186]:
#13
setup_rgs = setup(data = T01_data, target=T01_target, session_id = 414)
top5 = compare_models(sort='MSE', n_select=5)

Processing:   0%|          | 0/89 [00:00<?, ?it/s]

In [187]:
T01_total_models = []

T01_model_lightgbm = create_model('lightgbm', fold = 5)
T01_total_models.append(T01_model_lightgbm)

T01_model_rf = create_model('rf', fold = 5)
T01_total_models.append(T01_model_rf)

T01_model_gbr = create_model('gbr', fold = 5)
T01_total_models.append(T01_model_gbr)

T01_model_et = create_model('et', fold = 5)
T01_total_models.append(T01_model_et)

T01_model_catboost = create_model('catboost', fold = 5)
T01_total_models.append(T01_model_catboost)

T01_model_xgb = create_model('xgboost', fold = 5)
T01_total_models.append(T01_model_xgb)

T01_model_ada = create_model('ada', fold = 5)
T01_total_models.append(T01_model_ada)

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [188]:
T01_model_lightgbm = tune_model(T01_model_lightgbm, fold=5, choose_better = True)

T01_model_rf = tune_model(T01_model_rf, fold=5, choose_better = True)

T01_model_gbr = tune_model(T01_model_gbr, fold=5, choose_better = True)

T01_model_et = tune_model(T01_model_et, fold=5, choose_better = True)

T01_model_catboost = tune_model(T01_model_catboost, fold=5, choose_better = True)

T01_model_xgb = tune_model(T01_model_xgb, fold=5, choose_better = True)

T01_model_ada = tune_model(T01_model_ada, fold=5, choose_better = True)

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits

In [189]:
T01_tuned_models = [T01_model_lightgbm, T01_model_rf, T01_model_gbr, T01_model_et, T01_model_catboost, T01_model_xgb, T01_model_ada]
T01_tuned_models

[LGBMRegressor(random_state=414),
 RandomForestRegressor(n_jobs=-1, random_state=414),
 GradientBoostingRegressor(random_state=414),
 ExtraTreesRegressor(n_jobs=-1, random_state=414),
 <catboost.core.CatBoostRegressor at 0x2397419c520>,
 XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.5,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.2, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=7, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=90, n_jobs=-1,
              num_parallel_tree=1, predictor='auto', random_state=414,
              reg_alpha=0.01, reg_lambda=0.05, ...),
 AdaBoostRegressor(learning_rate=0.05, n_estimators=290, random_state=414)]

In [190]:
for model in T01_tuned_models:
    display(predict_model(model))

,PRODUCT_CODE,X_246,X_247,X_248,X_249,X_250,X_251,X_252,X_253,X_254,...,X_2858,X_2859,X_2860,X_2861,X_2862,X_2863,X_2864,X_2865,Y_Quality,prediction_label
90,1,1.0,95.0,0.0,45.0,11.0,148.0,45.0,11.0,42.0,...,171.910339,169.100006,198.899994,188.513794,181.000000,456.0,439.415100,422.0,0.534448,0.531623
91,1,2.0,89.0,0.0,45.0,11.0,135.0,45.0,11.0,42.0,...,169.139282,164.100006,160.800003,156.482147,142.000000,466.0,450.000000,432.0,0.534376,0.536807
92,1,2.0,91.0,170.0,45.0,11.0,0.0,45.0,12.0,51.0,...,187.639282,160.500000,194.100006,180.189285,165.500000,446.0,430.942322,413.0,0.547184,0.547613
93,1,2.0,88.0,0.0,45.0,11.0,85.0,45.0,11.0,42.0,...,191.772415,179.000000,181.399994,165.093109,160.100006,456.0,439.735840,422.0,0.533960,0.541074
94,1,1.0,88.0,92.0,45.0,12.0,0.0,45.0,12.0,51.0,...,196.762070,188.399994,188.300003,177.379303,166.600006,456.0,439.396240,415.0,0.528087,0.534987
95,1,1.0,95.0,0.0,45.0,11.0,22.0,45.0,11.0,42.0,...,181.217850,161.100006,185.100006,167.035721,157.300003,466.0,448.442322,433.0,0.528190,0.531168
96,1,1.0,90.0,0.0,45.0,11.0,46.0,45.0,11.0,42.0,...,190.350006,175.699997,177.600006,168.635712,160.699997,465.0,445.735840,423.0,0.527486,0.533454
97,1,1.0,95.0,0.0,45.0,11.0,28.0,45.0,11.0,42.0,...,186.274994,165.000000,174.699997,166.457138,150.399994,456.0,438.615387,422.0,0.530048,0.536075
98,1,2.0,88.0,0.0,45.0,11.0,42.0,45.0,11.0,42.0,...,194.464279,185.300003,173.100006,162.460709,154.000000,456.0,440.288452,424.0,0.530514,0.532849
99,1,1.0,90.0,142.0,45.0,11.0,0.0,45.0,12.0,51.0,...,190.407150,181.100006,192.600006,185.207138,173.199997,466.0,446.038452,427.0,0.560317,0.542315
100,1,2.0,89.0,67.0,45.0,11.0,0.0,45.0,12.0,51.0,...,195.703705,190.300003,176.399994,168.962967,157.000000,465.0,443.807678,423.0,0.527114,0.537347
101,1,1.0,95.0,138.0,45.0,12.0,0.0,45.0,12.0,51.0,...,180.368973,174.000000,172.300003,160.806900,144.300003,456.0,439.886780,412.0,0.544089,0.541141
102,1,1.0,88.0,0.0,45.0,11.0,96.0,45.0,11.0,42.0,...,194.620697,178.100006,170.899994,159.134476,149.199997,465.0,447.245270,423.0,0.523830,0.534015
103,1,2.0,91.0,0.0,45.0,11.0,67.0,45.0,11.0,42.0,...,188.625000,172.000000,202.199997,181.146423,170.399994,466.0,450.673065,432.0,0.524808,0.526790
104,1,1.0,94.0,141.0,45.0,12.0,0.0,45.0,12.0,51.0,...,183.193100,179.199997,178.300003,165.831039,152.600006,466.0,446.320740,422.0,0.535394,0.538766
105,1,1.0,90.0,0.0,45.0,11.0,35.0,45.0,11.0,42.0,...,197.317856,191.100006,174.500000,167.992859,161.800003,466.0,443.923065,423.0,0.526241,0.526467
106,1,1.0,89.0,0.0,45.0,11.0,11.0,45.0,11.0,42.0,...,201.160721,193.000000,207.100006,195.682144,184.899994,466.0,448.634613,432.0,0.519519,0.523970
107,1,1.0,93.0,4.0,45.0,11.0,0.0,45.0,12.0,51.0,...,186.344833,161.399994,165.100006,156.706894,151.100006,466.0,448.150940,423.0,0.534195,0.524824
108,1,1.0,89.0,0.0,45.0,11.0,129.0,45.0,11.0,42.0,...,181.596436,169.399994,184.000000,177.482147,170.100006,466.0,447.961548,432.0,0.534486,0.540515
109,1,2.0,88.0,83.0,45.0,11.0,0.0,45.0,12.0,51.0,...,184.375000,175.800003,175.399994,165.489288,151.000000,466.0,448.596161,432.0,0.526906,0.534835
110,1,1.0,89.0,0.0,45.0,11.0,90.0,45.0,11.0,42.0,...,182.758621,175.699997,182.000000,174.727585,160.500000,446.0,429.716980,413.0,0.521249,0.529752
111,1,1.0,91.0,1.0,45.0,12.0,0.0,45.0,12.0,51.0,...,184.742859,169.699997,178.300003,168.703568,164.300003,456.0,439.538452,423.0,0.526997,0.526433
112,1,2.0,88.0,0.0,45.0,11.0,44.0,45.0,11.0,42.0,...,187.675003,178.300003,179.800003,167.907150,155.199997,466.0,445.980774,423.0,0.523694,0.534735
113,1,2.0,96.0,142.0,45.0,12.0,0.0,45.0,12.0,51.0,...,198.225006,187.199997,196.699997,182.524994,168.500000,466.0,441.094330,422.0,0.529189,0.534278
114,1,2.0,91.0,81.0,45.0,12.0,0.0,45.0,12.0,51.0,...,168.017853,160.100006,176.000000,161.782150,147.199997,466.0,449.019226,433.0,0.533122,0.534545
115,1,1.0,95.0,5.0,45.0,12.0,0.0,45.0,12.0,51.0,...,201.203568,190.899994,181.899994,172.246429,159.000000,466.0,444.698120,422.0,0.530403,0.524182
116,1,1.0,96.0,95.0,45.0,12.0,0.0,45.0,12.0,51.0,...,174.921432,169.600006,184.899994,177.839279,169.199997,466.0,442.576935,423.0,0.547497,0.543110
117,1,1.0,94.0,118.0,45.0,12.0,0.0,45.0,12.0,51.0,...,174.879303,167.600006,173.300003,165.455170,151.199997,456.0,439.339630,423.0,0.538502,0.537774
118,1,1.0,96.0,2.0,45.0,12.0,0.0,45.0,12.0,51.0,...,185.062073,168.699997,190.300003,180.637924,171.699997,466.0,448.075470,432.0,0.538095,0.525438
119,1,1.0,95.0,66.0,45.0,11.0,0.0,45.0,12.0,51.0,...,177.233337,170.600006,178.199997,171.333328,154.300003,456.0,441.173065,422.0,0.531043,0.528819
120,1,2.0,89.0,0.0,45.0,11.0,163.0,45.0,11.0,42.0,...,173.882751,168.100006,176.899994,164.744827,149.899994,466.0,444.509430,423.0,0.534403,0.536525
121,1,1.0,89.0,62.0,45.0,11.0,0.0,45.0,12.0,51.0,...,190.392593,172.800003,182.699997,169.151855,151.899994,465.0,446.288452,424.0,0.533471,0.531481
122,1,2.0,87.0,0.0,45.0,11.0,126.0,45.0,11.0,42.0,...,209.417236,192.100006,192.000000,186.341385,175.100006,463.0,440.867920,423.0,0.527910,0.536867
123,1,11.0,90.0,0.0,45.0,11.0,43.0,45.0,11.0,42.0,...,221.172409,202.899994,209.000000,194.506897,186.399994,462.0,439.792450,422.0,0.529624,0.519884
124,1,2.0,93.0,170.0,45.0,11.0,0.0,45.0,12.0,51.0,...,187.058624,175.699997,179.399994,170.306900,154.199997,446.0,430.603760,413.0,0.545925,0.546904
125,1,1.0,90.0,103.0,45.0,11.0,0.0,45.0,12.0,51.0,...,198.279312,180.600006,186.899994,176.134476,162.899994,457.0,440.320740,422.0,0.554562,0.542356
126,1,1.0,92.0,152.0,45.0,11.0,0.0,45.0,12.0,51.0,...,185.437927,165.899994,178.000000,169.148270,151.800003,466.0,448.622650,427.0,0.538030,0.536029
127,1,1.0,93.0,20.0,45.0,12.0,0.0,45.0,12.0,51.0,...,172.134476,158.000000,193.399994,182.779312,171.100006,456.0,440.037750,423.0,0.524183,0.521325
128,1,1.0,93.0,74.0,45.0,12.0,0.0,45.0,12.0,51.0,...,186.131027,177.399994,170.600006,163.220688,146.800003,466.0,442.320740,422.0,0.535589,0.537303

,PRODUCT_CODE,X_246,X_247,X_248,X_249,X_250,X_251,X_252,X_253,X_254,...,X_2858,X_2859,X_2860,X_2861,X_2862,X_2863,X_2864,X_2865,Y_Quality,prediction_label
90,1,1.0,95.0,0.0,45.0,11.0,148.0,45.0,11.0,42.0,...,171.910339,169.100006,198.899994,188.513794,181.000000,456.0,439.415100,422.0,0.534448,0.533404
91,1,2.0,89.0,0.0,45.0,11.0,135.0,45.0,11.0,42.0,...,169.139282,164.100006,160.800003,156.482147,142.000000,466.0,450.000000,432.0,0.534376,0.533651
92,1,2.0,91.0,170.0,45.0,11.0,0.0,45.0,12.0,51.0,...,187.639282,160.500000,194.100006,180.189285,165.500000,446.0,430.942322,413.0,0.547184,0.543830
93,1,2.0,88.0,0.0,45.0,11.0,85.0,45.0,11.0,42.0,...,191.772415,179.000000,181.399994,165.093109,160.100006,456.0,439.735840,422.0,0.533960,0.541807
94,1,1.0,88.0,92.0,45.0,12.0,0.0,45.0,12.0,51.0,...,196.762070,188.399994,188.300003,177.379303,166.600006,456.0,439.396240,415.0,0.528087,0.532111
95,1,1.0,95.0,0.0,45.0,11.0,22.0,45.0,11.0,42.0,...,181.217850,161.100006,185.100006,167.035721,157.300003,466.0,448.442322,433.0,0.528190,0.530271
96,1,1.0,90.0,0.0,45.0,11.0,46.0,45.0,11.0,42.0,...,190.350006,175.699997,177.600006,168.635712,160.699997,465.0,445.735840,423.0,0.527486,0.530185
97,1,1.0,95.0,0.0,45.0,11.0,28.0,45.0,11.0,42.0,...,186.274994,165.000000,174.699997,166.457138,150.399994,456.0,438.615387,422.0,0.530048,0.530845
98,1,2.0,88.0,0.0,45.0,11.0,42.0,45.0,11.0,42.0,...,194.464279,185.300003,173.100006,162.460709,154.000000,456.0,440.288452,424.0,0.530514,0.529606
99,1,1.0,90.0,142.0,45.0,11.0,0.0,45.0,12.0,51.0,...,190.407150,181.100006,192.600006,185.207138,173.199997,466.0,446.038452,427.0,0.560317,0.549129
100,1,2.0,89.0,67.0,45.0,11.0,0.0,45.0,12.0,51.0,...,195.703705,190.300003,176.399994,168.962967,157.000000,465.0,443.807678,423.0,0.527114,0.531323
101,1,1.0,95.0,138.0,45.0,12.0,0.0,45.0,12.0,51.0,...,180.368973,174.000000,172.300003,160.806900,144.300003,456.0,439.886780,412.0,0.544089,0.537713
102,1,1.0,88.0,0.0,45.0,11.0,96.0,45.0,11.0,42.0,...,194.620697,178.100006,170.899994,159.134476,149.199997,465.0,447.245270,423.0,0.523830,0.533379
103,1,2.0,91.0,0.0,45.0,11.0,67.0,45.0,11.0,42.0,...,188.625000,172.000000,202.199997,181.146423,170.399994,466.0,450.673065,432.0,0.524808,0.529592
104,1,1.0,94.0,141.0,45.0,12.0,0.0,45.0,12.0,51.0,...,183.193100,179.199997,178.300003,165.831039,152.600006,466.0,446.320740,422.0,0.535394,0.535564
105,1,1.0,90.0,0.0,45.0,11.0,35.0,45.0,11.0,42.0,...,197.317856,191.100006,174.500000,167.992859,161.800003,466.0,443.923065,423.0,0.526241,0.529585
106,1,1.0,89.0,0.0,45.0,11.0,11.0,45.0,11.0,42.0,...,201.160721,193.000000,207.100006,195.682144,184.899994,466.0,448.634613,432.0,0.519519,0.528919
107,1,1.0,93.0,4.0,45.0,11.0,0.0,45.0,12.0,51.0,...,186.344833,161.399994,165.100006,156.706894,151.100006,466.0,448.150940,423.0,0.534195,0.530743
108,1,1.0,89.0,0.0,45.0,11.0,129.0,45.0,11.0,42.0,...,181.596436,169.399994,184.000000,177.482147,170.100006,466.0,447.961548,432.0,0.534486,0.533042
109,1,2.0,88.0,83.0,45.0,11.0,0.0,45.0,12.0,51.0,...,184.375000,175.800003,175.399994,165.489288,151.000000,466.0,448.596161,432.0,0.526906,0.530831
110,1,1.0,89.0,0.0,45.0,11.0,90.0,45.0,11.0,42.0,...,182.758621,175.699997,182.000000,174.727585,160.500000,446.0,429.716980,413.0,0.521249,0.530773
111,1,1.0,91.0,1.0,45.0,12.0,0.0,45.0,12.0,51.0,...,184.742859,169.699997,178.300003,168.703568,164.300003,456.0,439.538452,423.0,0.526997,0.529540
112,1,2.0,88.0,0.0,45.0,11.0,44.0,45.0,11.0,42.0,...,187.675003,178.300003,179.800003,167.907150,155.199997,466.0,445.980774,423.0,0.523694,0.533177
113,1,2.0,96.0,142.0,45.0,12.0,0.0,45.0,12.0,51.0,...,198.225006,187.199997,196.699997,182.524994,168.500000,466.0,441.094330,422.0,0.529189,0.534113
114,1,2.0,91.0,81.0,45.0,12.0,0.0,45.0,12.0,51.0,...,168.017853,160.100006,176.000000,161.782150,147.199997,466.0,449.019226,433.0,0.533122,0.530494
115,1,1.0,95.0,5.0,45.0,12.0,0.0,45.0,12.0,51.0,...,201.203568,190.899994,181.899994,172.246429,159.000000,466.0,444.698120,422.0,0.530403,0.529248
116,1,1.0,96.0,95.0,45.0,12.0,0.0,45.0,12.0,51.0,...,174.921432,169.600006,184.899994,177.839279,169.199997,466.0,442.576935,423.0,0.547497,0.547785
117,1,1.0,94.0,118.0,45.0,12.0,0.0,45.0,12.0,51.0,...,174.879303,167.600006,173.300003,165.455170,151.199997,456.0,439.339630,423.0,0.538502,0.535370
118,1,1.0,96.0,2.0,45.0,12.0,0.0,45.0,12.0,51.0,...,185.062073,168.699997,190.300003,180.637924,171.699997,466.0,448.075470,432.0,0.538095,0.532726
119,1,1.0,95.0,66.0,45.0,11.0,0.0,45.0,12.0,51.0,...,177.233337,170.600006,178.199997,171.333328,154.300003,456.0,441.173065,422.0,0.531043,0.529976
120,1,2.0,89.0,0.0,45.0,11.0,163.0,45.0,11.0,42.0,...,173.882751,168.100006,176.899994,164.744827,149.899994,466.0,444.509430,423.0,0.534403,0.533585
121,1,1.0,89.0,62.0,45.0,11.0,0.0,45.0,12.0,51.0,...,190.392593,172.800003,182.699997,169.151855,151.899994,465.0,446.288452,424.0,0.533471,0.537397
122,1,2.0,87.0,0.0,45.0,11.0,126.0,45.0,11.0,42.0,...,209.417236,192.100006,192.000000,186.341385,175.100006,463.0,440.867920,423.0,0.527910,0.532792
123,1,11.0,90.0,0.0,45.0,11.0,43.0,45.0,11.0,42.0,...,221.172409,202.899994,209.000000,194.506897,186.399994,462.0,439.792450,422.0,0.529624,0.530342
124,1,2.0,93.0,170.0,45.0,11.0,0.0,45.0,12.0,51.0,...,187.058624,175.699997,179.399994,170.306900,154.199997,446.0,430.603760,413.0,0.545925,0.542915
125,1,1.0,90.0,103.0,45.0,11.0,0.0,45.0,12.0,51.0,...,198.279312,180.600006,186.899994,176.134476,162.899994,457.0,440.320740,422.0,0.554562,0.549871
126,1,1.0,92.0,152.0,45.0,11.0,0.0,45.0,12.0,51.0,...,185.437927,165.899994,178.000000,169.148270,151.800003,466.0,448.622650,427.0,0.538030,0.536175
127,1,1.0,93.0,20.0,45.0,12.0,0.0,45.0,12.0,51.0,...,172.134476,158.000000,193.399994,182.779312,171.100006,456.0,440.037750,423.0,0.524183,0.533206
128,1,1.0,93.0,74.0,45.0,12.0,0.0,45.0,12.0,51.0,...,186.131027,177.399994,170.600006,163.220688,146.800003,466.0,442.320740,422.0,0.535589,0.538671

,PRODUCT_CODE,X_246,X_247,X_248,X_249,X_250,X_251,X_252,X_253,X_254,...,X_2858,X_2859,X_2860,X_2861,X_2862,X_2863,X_2864,X_2865,Y_Quality,prediction_label
90,1,1.0,95.0,0.0,45.0,11.0,148.0,45.0,11.0,42.0,...,171.910339,169.100006,198.899994,188.513794,181.000000,456.0,439.415100,422.0,0.534448,0.534086
91,1,2.0,89.0,0.0,45.0,11.0,135.0,45.0,11.0,42.0,...,169.139282,164.100006,160.800003,156.482147,142.000000,466.0,450.000000,432.0,0.534376,0.533045
92,1,2.0,91.0,170.0,45.0,11.0,0.0,45.0,12.0,51.0,...,187.639282,160.500000,194.100006,180.189285,165.500000,446.0,430.942322,413.0,0.547184,0.551573
93,1,2.0,88.0,0.0,45.0,11.0,85.0,45.0,11.0,42.0,...,191.772415,179.000000,181.399994,165.093109,160.100006,456.0,439.735840,422.0,0.533960,0.542482
94,1,1.0,88.0,92.0,45.0,12.0,0.0,45.0,12.0,51.0,...,196.762070,188.399994,188.300003,177.379303,166.600006,456.0,439.396240,415.0,0.528087,0.531173
95,1,1.0,95.0,0.0,45.0,11.0,22.0,45.0,11.0,42.0,...,181.217850,161.100006,185.100006,167.035721,157.300003,466.0,448.442322,433.0,0.528190,0.528512
96,1,1.0,90.0,0.0,45.0,11.0,46.0,45.0,11.0,42.0,...,190.350006,175.699997,177.600006,168.635712,160.699997,465.0,445.735840,423.0,0.527486,0.528927
97,1,1.0,95.0,0.0,45.0,11.0,28.0,45.0,11.0,42.0,...,186.274994,165.000000,174.699997,166.457138,150.399994,456.0,438.615387,422.0,0.530048,0.529948
98,1,2.0,88.0,0.0,45.0,11.0,42.0,45.0,11.0,42.0,...,194.464279,185.300003,173.100006,162.460709,154.000000,456.0,440.288452,424.0,0.530514,0.526028
99,1,1.0,90.0,142.0,45.0,11.0,0.0,45.0,12.0,51.0,...,190.407150,181.100006,192.600006,185.207138,173.199997,466.0,446.038452,427.0,0.560317,0.551485
100,1,2.0,89.0,67.0,45.0,11.0,0.0,45.0,12.0,51.0,...,195.703705,190.300003,176.399994,168.962967,157.000000,465.0,443.807678,423.0,0.527114,0.531078
101,1,1.0,95.0,138.0,45.0,12.0,0.0,45.0,12.0,51.0,...,180.368973,174.000000,172.300003,160.806900,144.300003,456.0,439.886780,412.0,0.544089,0.538615
102,1,1.0,88.0,0.0,45.0,11.0,96.0,45.0,11.0,42.0,...,194.620697,178.100006,170.899994,159.134476,149.199997,465.0,447.245270,423.0,0.523830,0.534055
103,1,2.0,91.0,0.0,45.0,11.0,67.0,45.0,11.0,42.0,...,188.625000,172.000000,202.199997,181.146423,170.399994,466.0,450.673065,432.0,0.524808,0.527051
104,1,1.0,94.0,141.0,45.0,12.0,0.0,45.0,12.0,51.0,...,183.193100,179.199997,178.300003,165.831039,152.600006,466.0,446.320740,422.0,0.535394,0.536295
105,1,1.0,90.0,0.0,45.0,11.0,35.0,45.0,11.0,42.0,...,197.317856,191.100006,174.500000,167.992859,161.800003,466.0,443.923065,423.0,0.526241,0.528515
106,1,1.0,89.0,0.0,45.0,11.0,11.0,45.0,11.0,42.0,...,201.160721,193.000000,207.100006,195.682144,184.899994,466.0,448.634613,432.0,0.519519,0.526461
107,1,1.0,93.0,4.0,45.0,11.0,0.0,45.0,12.0,51.0,...,186.344833,161.399994,165.100006,156.706894,151.100006,466.0,448.150940,423.0,0.534195,0.529248
108,1,1.0,89.0,0.0,45.0,11.0,129.0,45.0,11.0,42.0,...,181.596436,169.399994,184.000000,177.482147,170.100006,466.0,447.961548,432.0,0.534486,0.532678
109,1,2.0,88.0,83.0,45.0,11.0,0.0,45.0,12.0,51.0,...,184.375000,175.800003,175.399994,165.489288,151.000000,466.0,448.596161,432.0,0.526906,0.532863
110,1,1.0,89.0,0.0,45.0,11.0,90.0,45.0,11.0,42.0,...,182.758621,175.699997,182.000000,174.727585,160.500000,446.0,429.716980,413.0,0.521249,0.528306
111,1,1.0,91.0,1.0,45.0,12.0,0.0,45.0,12.0,51.0,...,184.742859,169.699997,178.300003,168.703568,164.300003,456.0,439.538452,423.0,0.526997,0.527612
112,1,2.0,88.0,0.0,45.0,11.0,44.0,45.0,11.0,42.0,...,187.675003,178.300003,179.800003,167.907150,155.199997,466.0,445.980774,423.0,0.523694,0.527207
113,1,2.0,96.0,142.0,45.0,12.0,0.0,45.0,12.0,51.0,...,198.225006,187.199997,196.699997,182.524994,168.500000,466.0,441.094330,422.0,0.529189,0.535401
114,1,2.0,91.0,81.0,45.0,12.0,0.0,45.0,12.0,51.0,...,168.017853,160.100006,176.000000,161.782150,147.199997,466.0,449.019226,433.0,0.533122,0.531889
115,1,1.0,95.0,5.0,45.0,12.0,0.0,45.0,12.0,51.0,...,201.203568,190.899994,181.899994,172.246429,159.000000,466.0,444.698120,422.0,0.530403,0.531371
116,1,1.0,96.0,95.0,45.0,12.0,0.0,45.0,12.0,51.0,...,174.921432,169.600006,184.899994,177.839279,169.199997,466.0,442.576935,423.0,0.547497,0.550333
117,1,1.0,94.0,118.0,45.0,12.0,0.0,45.0,12.0,51.0,...,174.879303,167.600006,173.300003,165.455170,151.199997,456.0,439.339630,423.0,0.538502,0.536084
118,1,1.0,96.0,2.0,45.0,12.0,0.0,45.0,12.0,51.0,...,185.062073,168.699997,190.300003,180.637924,171.699997,466.0,448.075470,432.0,0.538095,0.527934
119,1,1.0,95.0,66.0,45.0,11.0,0.0,45.0,12.0,51.0,...,177.233337,170.600006,178.199997,171.333328,154.300003,456.0,441.173065,422.0,0.531043,0.528442
120,1,2.0,89.0,0.0,45.0,11.0,163.0,45.0,11.0,42.0,...,173.882751,168.100006,176.899994,164.744827,149.899994,466.0,444.509430,423.0,0.534403,0.536310
121,1,1.0,89.0,62.0,45.0,11.0,0.0,45.0,12.0,51.0,...,190.392593,172.800003,182.699997,169.151855,151.899994,465.0,446.288452,424.0,0.533471,0.537110
122,1,2.0,87.0,0.0,45.0,11.0,126.0,45.0,11.0,42.0,...,209.417236,192.100006,192.000000,186.341385,175.100006,463.0,440.867920,423.0,0.527910,0.532451
123,1,11.0,90.0,0.0,45.0,11.0,43.0,45.0,11.0,42.0,...,221.172409,202.899994,209.000000,194.506897,186.399994,462.0,439.792450,422.0,0.529624,0.529496
124,1,2.0,93.0,170.0,45.0,11.0,0.0,45.0,12.0,51.0,...,187.058624,175.699997,179.399994,170.306900,154.199997,446.0,430.603760,413.0,0.545925,0.536677
125,1,1.0,90.0,103.0,45.0,11.0,0.0,45.0,12.0,51.0,...,198.279312,180.600006,186.899994,176.134476,162.899994,457.0,440.320740,422.0,0.554562,0.550889
126,1,1.0,92.0,152.0,45.0,11.0,0.0,45.0,12.0,51.0,...,185.437927,165.899994,178.000000,169.148270,151.800003,466.0,448.622650,427.0,0.538030,0.536263
127,1,1.0,93.0,20.0,45.0,12.0,0.0,45.0,12.0,51.0,...,172.134476,158.000000,193.399994,182.779312,171.100006,456.0,440.037750,423.0,0.524183,0.529864
128,1,1.0,93.0,74.0,45.0,12.0,0.0,45.0,12.0,51.0,...,186.131027,177.399994,170.600006,163.220688,146.800003,466.0,442.320740,422.0,0.535589,0.539949

,PRODUCT_CODE,X_246,X_247,X_248,X_249,X_250,X_251,X_252,X_253,X_254,...,X_2858,X_2859,X_2860,X_2861,X_2862,X_2863,X_2864,X_2865,Y_Quality,prediction_label
90,1,1.0,95.0,0.0,45.0,11.0,148.0,45.0,11.0,42.0,...,171.910339,169.100006,198.899994,188.513794,181.000000,456.0,439.415100,422.0,0.534448,0.534536
91,1,2.0,89.0,0.0,45.0,11.0,135.0,45.0,11.0,42.0,...,169.139282,164.100006,160.800003,156.482147,142.000000,466.0,450.000000,432.0,0.534376,0.534490
92,1,2.0,91.0,170.0,45.0,11.0,0.0,45.0,12.0,51.0,...,187.639282,160.500000,194.100006,180.189285,165.500000,446.0,430.942322,413.0,0.547184,0.551890
93,1,2.0,88.0,0.0,45.0,11.0,85.0,45.0,11.0,42.0,...,191.772415,179.000000,181.399994,165.093109,160.100006,456.0,439.735840,422.0,0.533960,0.538740
94,1,1.0,88.0,92.0,45.0,12.0,0.0,45.0,12.0,51.0,...,196.762070,188.399994,188.300003,177.379303,166.600006,456.0,439.396240,415.0,0.528087,0.531314
95,1,1.0,95.0,0.0,45.0,11.0,22.0,45.0,11.0,42.0,...,181.217850,161.100006,185.100006,167.035721,157.300003,466.0,448.442322,433.0,0.528190,0.529596
96,1,1.0,90.0,0.0,45.0,11.0,46.0,45.0,11.0,42.0,...,190.350006,175.699997,177.600006,168.635712,160.699997,465.0,445.735840,423.0,0.527486,0.530201
97,1,1.0,95.0,0.0,45.0,11.0,28.0,45.0,11.0,42.0,...,186.274994,165.000000,174.699997,166.457138,150.399994,456.0,438.615387,422.0,0.530048,0.529810
98,1,2.0,88.0,0.0,45.0,11.0,42.0,45.0,11.0,42.0,...,194.464279,185.300003,173.100006,162.460709,154.000000,456.0,440.288452,424.0,0.530514,0.528688
99,1,1.0,90.0,142.0,45.0,11.0,0.0,45.0,12.0,51.0,...,190.407150,181.100006,192.600006,185.207138,173.199997,466.0,446.038452,427.0,0.560317,0.550842
100,1,2.0,89.0,67.0,45.0,11.0,0.0,45.0,12.0,51.0,...,195.703705,190.300003,176.399994,168.962967,157.000000,465.0,443.807678,423.0,0.527114,0.529996
101,1,1.0,95.0,138.0,45.0,12.0,0.0,45.0,12.0,51.0,...,180.368973,174.000000,172.300003,160.806900,144.300003,456.0,439.886780,412.0,0.544089,0.540109
102,1,1.0,88.0,0.0,45.0,11.0,96.0,45.0,11.0,42.0,...,194.620697,178.100006,170.899994,159.134476,149.199997,465.0,447.245270,423.0,0.523830,0.531694
103,1,2.0,91.0,0.0,45.0,11.0,67.0,45.0,11.0,42.0,...,188.625000,172.000000,202.199997,181.146423,170.399994,466.0,450.673065,432.0,0.524808,0.527467
104,1,1.0,94.0,141.0,45.0,12.0,0.0,45.0,12.0,51.0,...,183.193100,179.199997,178.300003,165.831039,152.600006,466.0,446.320740,422.0,0.535394,0.535429
105,1,1.0,90.0,0.0,45.0,11.0,35.0,45.0,11.0,42.0,...,197.317856,191.100006,174.500000,167.992859,161.800003,466.0,443.923065,423.0,0.526241,0.528791
106,1,1.0,89.0,0.0,45.0,11.0,11.0,45.0,11.0,42.0,...,201.160721,193.000000,207.100006,195.682144,184.899994,466.0,448.634613,432.0,0.519519,0.525907
107,1,1.0,93.0,4.0,45.0,11.0,0.0,45.0,12.0,51.0,...,186.344833,161.399994,165.100006,156.706894,151.100006,466.0,448.150940,423.0,0.534195,0.529597
108,1,1.0,89.0,0.0,45.0,11.0,129.0,45.0,11.0,42.0,...,181.596436,169.399994,184.000000,177.482147,170.100006,466.0,447.961548,432.0,0.534486,0.531722
109,1,2.0,88.0,83.0,45.0,11.0,0.0,45.0,12.0,51.0,...,184.375000,175.800003,175.399994,165.489288,151.000000,466.0,448.596161,432.0,0.526906,0.529779
110,1,1.0,89.0,0.0,45.0,11.0,90.0,45.0,11.0,42.0,...,182.758621,175.699997,182.000000,174.727585,160.500000,446.0,429.716980,413.0,0.521249,0.530718
111,1,1.0,91.0,1.0,45.0,12.0,0.0,45.0,12.0,51.0,...,184.742859,169.699997,178.300003,168.703568,164.300003,456.0,439.538452,423.0,0.526997,0.526607
112,1,2.0,88.0,0.0,45.0,11.0,44.0,45.0,11.0,42.0,...,187.675003,178.300003,179.800003,167.907150,155.199997,466.0,445.980774,423.0,0.523694,0.529845
113,1,2.0,96.0,142.0,45.0,12.0,0.0,45.0,12.0,51.0,...,198.225006,187.199997,196.699997,182.524994,168.500000,466.0,441.094330,422.0,0.529189,0.533691
114,1,2.0,91.0,81.0,45.0,12.0,0.0,45.0,12.0,51.0,...,168.017853,160.100006,176.000000,161.782150,147.199997,466.0,449.019226,433.0,0.533122,0.530666
115,1,1.0,95.0,5.0,45.0,12.0,0.0,45.0,12.0,51.0,...,201.203568,190.899994,181.899994,172.246429,159.000000,466.0,444.698120,422.0,0.530403,0.528996
116,1,1.0,96.0,95.0,45.0,12.0,0.0,45.0,12.0,51.0,...,174.921432,169.600006,184.899994,177.839279,169.199997,466.0,442.576935,423.0,0.547497,0.549805
117,1,1.0,94.0,118.0,45.0,12.0,0.0,45.0,12.0,51.0,...,174.879303,167.600006,173.300003,165.455170,151.199997,456.0,439.339630,423.0,0.538502,0.535352
118,1,1.0,96.0,2.0,45.0,12.0,0.0,45.0,12.0,51.0,...,185.062073,168.699997,190.300003,180.637924,171.699997,466.0,448.075470,432.0,0.538095,0.528034
119,1,1.0,95.0,66.0,45.0,11.0,0.0,45.0,12.0,51.0,...,177.233337,170.600006,178.199997,171.333328,154.300003,456.0,441.173065,422.0,0.531043,0.528977
120,1,2.0,89.0,0.0,45.0,11.0,163.0,45.0,11.0,42.0,...,173.882751,168.100006,176.899994,164.744827,149.899994,466.0,444.509430,423.0,0.534403,0.535750
121,1,1.0,89.0,62.0,45.0,11.0,0.0,45.0,12.0,51.0,...,190.392593,172.800003,182.699997,169.151855,151.899994,465.0,446.288452,424.0,0.533471,0.540417
122,1,2.0,87.0,0.0,45.0,11.0,126.0,45.0,11.0,42.0,...,209.417236,192.100006,192.000000,186.341385,175.100006,463.0,440.867920,423.0,0.527910,0.532186
123,1,11.0,90.0,0.0,45.0,11.0,43.0,45.0,11.0,42.0,...,221.172409,202.899994,209.000000,194.506897,186.399994,462.0,439.792450,422.0,0.529624,0.530377
124,1,2.0,93.0,170.0,45.0,11.0,0.0,45.0,12.0,51.0,...,187.058624,175.699997,179.399994,170.306900,154.199997,446.0,430.603760,413.0,0.545925,0.540341
125,1,1.0,90.0,103.0,45.0,11.0,0.0,45.0,12.0,51.0,...,198.279312,180.600006,186.899994,176.134476,162.899994,457.0,440.320740,422.0,0.554562,0.552863
126,1,1.0,92.0,152.0,45.0,11.0,0.0,45.0,12.0,51.0,...,185.437927,165.899994,178.000000,169.148270,151.800003,466.0,448.622650,427.0,0.538030,0.536739
127,1,1.0,93.0,20.0,45.0,12.0,0.0,45.0,12.0,51.0,...,172.134476,158.000000,193.399994,182.779312,171.100006,456.0,440.037750,423.0,0.524183,0.528309
128,1,1.0,93.0,74.0,45.0,12.0,0.0,45.0,12.0,51.0,...,186.131027,177.399994,170.600006,163.220688,146.800003,466.0,442.320740,422.0,0.535589,0.540155

,PRODUCT_CODE,X_246,X_247,X_248,X_249,X_250,X_251,X_252,X_253,X_254,...,X_2858,X_2859,X_2860,X_2861,X_2862,X_2863,X_2864,X_2865,Y_Quality,prediction_label
90,1,1.0,95.0,0.0,45.0,11.0,148.0,45.0,11.0,42.0,...,171.910339,169.100006,198.899994,188.513794,181.000000,456.0,439.415100,422.0,0.534448,0.535083
91,1,2.0,89.0,0.0,45.0,11.0,135.0,45.0,11.0,42.0,...,169.139282,164.100006,160.800003,156.482147,142.000000,466.0,450.000000,432.0,0.534376,0.533323
92,1,2.0,91.0,170.0,45.0,11.0,0.0,45.0,12.0,51.0,...,187.639282,160.500000,194.100006,180.189285,165.500000,446.0,430.942322,413.0,0.547184,0.547553
93,1,2.0,88.0,0.0,45.0,11.0,85.0,45.0,11.0,42.0,...,191.772415,179.000000,181.399994,165.093109,160.100006,456.0,439.735840,422.0,0.533960,0.537872
94,1,1.0,88.0,92.0,45.0,12.0,0.0,45.0,12.0,51.0,...,196.762070,188.399994,188.300003,177.379303,166.600006,456.0,439.396240,415.0,0.528087,0.531129
95,1,1.0,95.0,0.0,45.0,11.0,22.0,45.0,11.0,42.0,...,181.217850,161.100006,185.100006,167.035721,157.300003,466.0,448.442322,433.0,0.528190,0.530766
96,1,1.0,90.0,0.0,45.0,11.0,46.0,45.0,11.0,42.0,...,190.350006,175.699997,177.600006,168.635712,160.699997,465.0,445.735840,423.0,0.527486,0.531626
97,1,1.0,95.0,0.0,45.0,11.0,28.0,45.0,11.0,42.0,...,186.274994,165.000000,174.699997,166.457138,150.399994,456.0,438.615387,422.0,0.530048,0.531634
98,1,2.0,88.0,0.0,45.0,11.0,42.0,45.0,11.0,42.0,...,194.464279,185.300003,173.100006,162.460709,154.000000,456.0,440.288452,424.0,0.530514,0.528038
99,1,1.0,90.0,142.0,45.0,11.0,0.0,45.0,12.0,51.0,...,190.407150,181.100006,192.600006,185.207138,173.199997,466.0,446.038452,427.0,0.560317,0.542481
100,1,2.0,89.0,67.0,45.0,11.0,0.0,45.0,12.0,51.0,...,195.703705,190.300003,176.399994,168.962967,157.000000,465.0,443.807678,423.0,0.527114,0.531010
101,1,1.0,95.0,138.0,45.0,12.0,0.0,45.0,12.0,51.0,...,180.368973,174.000000,172.300003,160.806900,144.300003,456.0,439.886780,412.0,0.544089,0.539240
102,1,1.0,88.0,0.0,45.0,11.0,96.0,45.0,11.0,42.0,...,194.620697,178.100006,170.899994,159.134476,149.199997,465.0,447.245270,423.0,0.523830,0.535256
103,1,2.0,91.0,0.0,45.0,11.0,67.0,45.0,11.0,42.0,...,188.625000,172.000000,202.199997,181.146423,170.399994,466.0,450.673065,432.0,0.524808,0.529656
104,1,1.0,94.0,141.0,45.0,12.0,0.0,45.0,12.0,51.0,...,183.193100,179.199997,178.300003,165.831039,152.600006,466.0,446.320740,422.0,0.535394,0.537363
105,1,1.0,90.0,0.0,45.0,11.0,35.0,45.0,11.0,42.0,...,197.317856,191.100006,174.500000,167.992859,161.800003,466.0,443.923065,423.0,0.526241,0.528716
106,1,1.0,89.0,0.0,45.0,11.0,11.0,45.0,11.0,42.0,...,201.160721,193.000000,207.100006,195.682144,184.899994,466.0,448.634613,432.0,0.519519,0.525853
107,1,1.0,93.0,4.0,45.0,11.0,0.0,45.0,12.0,51.0,...,186.344833,161.399994,165.100006,156.706894,151.100006,466.0,448.150940,423.0,0.534195,0.528727
108,1,1.0,89.0,0.0,45.0,11.0,129.0,45.0,11.0,42.0,...,181.596436,169.399994,184.000000,177.482147,170.100006,466.0,447.961548,432.0,0.534486,0.532892
109,1,2.0,88.0,83.0,45.0,11.0,0.0,45.0,12.0,51.0,...,184.375000,175.800003,175.399994,165.489288,151.000000,466.0,448.596161,432.0,0.526906,0.532015
110,1,1.0,89.0,0.0,45.0,11.0,90.0,45.0,11.0,42.0,...,182.758621,175.699997,182.000000,174.727585,160.500000,446.0,429.716980,413.0,0.521249,0.531022
111,1,1.0,91.0,1.0,45.0,12.0,0.0,45.0,12.0,51.0,...,184.742859,169.699997,178.300003,168.703568,164.300003,456.0,439.538452,423.0,0.526997,0.527490
112,1,2.0,88.0,0.0,45.0,11.0,44.0,45.0,11.0,42.0,...,187.675003,178.300003,179.800003,167.907150,155.199997,466.0,445.980774,423.0,0.523694,0.532580
113,1,2.0,96.0,142.0,45.0,12.0,0.0,45.0,12.0,51.0,...,198.225006,187.199997,196.699997,182.524994,168.500000,466.0,441.094330,422.0,0.529189,0.533632
114,1,2.0,91.0,81.0,45.0,12.0,0.0,45.0,12.0,51.0,...,168.017853,160.100006,176.000000,161.782150,147.199997,466.0,449.019226,433.0,0.533122,0.529925
115,1,1.0,95.0,5.0,45.0,12.0,0.0,45.0,12.0,51.0,...,201.203568,190.899994,181.899994,172.246429,159.000000,466.0,444.698120,422.0,0.530403,0.528561
116,1,1.0,96.0,95.0,45.0,12.0,0.0,45.0,12.0,51.0,...,174.921432,169.600006,184.899994,177.839279,169.199997,466.0,442.576935,423.0,0.547497,0.547092
117,1,1.0,94.0,118.0,45.0,12.0,0.0,45.0,12.0,51.0,...,174.879303,167.600006,173.300003,165.455170,151.199997,456.0,439.339630,423.0,0.538502,0.535758
118,1,1.0,96.0,2.0,45.0,12.0,0.0,45.0,12.0,51.0,...,185.062073,168.699997,190.300003,180.637924,171.699997,466.0,448.075470,432.0,0.538095,0.531590
119,1,1.0,95.0,66.0,45.0,11.0,0.0,45.0,12.0,51.0,...,177.233337,170.600006,178.199997,171.333328,154.300003,456.0,441.173065,422.0,0.531043,0.529900
120,1,2.0,89.0,0.0,45.0,11.0,163.0,45.0,11.0,42.0,...,173.882751,168.100006,176.899994,164.744827,149.899994,466.0,444.509430,423.0,0.534403,0.535750
121,1,1.0,89.0,62.0,45.0,11.0,0.0,45.0,12.0,51.0,...,190.392593,172.800003,182.699997,169.151855,151.899994,465.0,446.288452,424.0,0.533471,0.535294
122,1,2.0,87.0,0.0,45.0,11.0,126.0,45.0,11.0,42.0,...,209.417236,192.100006,192.000000,186.341385,175.100006,463.0,440.867920,423.0,0.527910,0.534531
123,1,11.0,90.0,0.0,45.0,11.0,43.0,45.0,11.0,42.0,...,221.172409,202.899994,209.000000,194.506897,186.399994,462.0,439.792450,422.0,0.529624,0.529846
124,1,2.0,93.0,170.0,45.0,11.0,0.0,45.0,12.0,51.0,...,187.058624,175.699997,179.399994,170.306900,154.199997,446.0,430.603760,413.0,0.545925,0.544235
125,1,1.0,90.0,103.0,45.0,11.0,0.0,45.0,12.0,51.0,...,198.279312,180.600006,186.899994,176.134476,162.899994,457.0,440.320740,422.0,0.554562,0.549949
126,1,1.0,92.0,152.0,45.0,11.0,0.0,45.0,12.0,51.0,...,185.437927,165.899994,178.000000,169.148270,151.800003,466.0,448.622650,427.0,0.538030,0.534170
127,1,1.0,93.0,20.0,45.0,12.0,0.0,45.0,12.0,51.0,...,172.134476,158.000000,193.399994,182.779312,171.100006,456.0,440.037750,423.0,0.524183,0.532540
128,1,1.0,93.0,74.0,45.0,12.0,0.0,45.0,12.0,51.0,...,186.131027,177.399994,170.600006,163.220688,146.800003,466.0,442.320740,422.0,0.535589,0.537885

,PRODUCT_CODE,X_246,X_247,X_248,X_249,X_250,X_251,X_252,X_253,X_254,...,X_2858,X_2859,X_2860,X_2861,X_2862,X_2863,X_2864,X_2865,Y_Quality,prediction_label
90,1,1.0,95.0,0.0,45.0,11.0,148.0,45.0,11.0,42.0,...,171.910339,169.100006,198.899994,188.513794,181.000000,456.0,439.415100,422.0,0.534448,0.532178
91,1,2.0,89.0,0.0,45.0,11.0,135.0,45.0,11.0,42.0,...,169.139282,164.100006,160.800003,156.482147,142.000000,466.0,450.000000,432.0,0.534376,0.535314
92,1,2.0,91.0,170.0,45.0,11.0,0.0,45.0,12.0,51.0,...,187.639282,160.500000,194.100006,180.189285,165.500000,446.0,430.942322,413.0,0.547184,0.547710
93,1,2.0,88.0,0.0,45.0,11.0,85.0,45.0,11.0,42.0,...,191.772415,179.000000,181.399994,165.093109,160.100006,456.0,439.735840,422.0,0.533960,0.538015
94,1,1.0,88.0,92.0,45.0,12.0,0.0,45.0,12.0,51.0,...,196.762070,188.399994,188.300003,177.379303,166.600006,456.0,439.396240,415.0,0.528087,0.529467
95,1,1.0,95.0,0.0,45.0,11.0,22.0,45.0,11.0,42.0,...,181.217850,161.100006,185.100006,167.035721,157.300003,466.0,448.442322,433.0,0.528190,0.531491
96,1,1.0,90.0,0.0,45.0,11.0,46.0,45.0,11.0,42.0,...,190.350006,175.699997,177.600006,168.635712,160.699997,465.0,445.735840,423.0,0.527486,0.528501
97,1,1.0,95.0,0.0,45.0,11.0,28.0,45.0,11.0,42.0,...,186.274994,165.000000,174.699997,166.457138,150.399994,456.0,438.615387,422.0,0.530048,0.532667
98,1,2.0,88.0,0.0,45.0,11.0,42.0,45.0,11.0,42.0,...,194.464279,185.300003,173.100006,162.460709,154.000000,456.0,440.288452,424.0,0.530514,0.530235
99,1,1.0,90.0,142.0,45.0,11.0,0.0,45.0,12.0,51.0,...,190.407150,181.100006,192.600006,185.207138,173.199997,466.0,446.038452,427.0,0.560317,0.549682
100,1,2.0,89.0,67.0,45.0,11.0,0.0,45.0,12.0,51.0,...,195.703705,190.300003,176.399994,168.962967,157.000000,465.0,443.807678,423.0,0.527114,0.529274
101,1,1.0,95.0,138.0,45.0,12.0,0.0,45.0,12.0,51.0,...,180.368973,174.000000,172.300003,160.806900,144.300003,456.0,439.886780,412.0,0.544089,0.535186
102,1,1.0,88.0,0.0,45.0,11.0,96.0,45.0,11.0,42.0,...,194.620697,178.100006,170.899994,159.134476,149.199997,465.0,447.245270,423.0,0.523830,0.534353
103,1,2.0,91.0,0.0,45.0,11.0,67.0,45.0,11.0,42.0,...,188.625000,172.000000,202.199997,181.146423,170.399994,466.0,450.673065,432.0,0.524808,0.528283
104,1,1.0,94.0,141.0,45.0,12.0,0.0,45.0,12.0,51.0,...,183.193100,179.199997,178.300003,165.831039,152.600006,466.0,446.320740,422.0,0.535394,0.536763
105,1,1.0,90.0,0.0,45.0,11.0,35.0,45.0,11.0,42.0,...,197.317856,191.100006,174.500000,167.992859,161.800003,466.0,443.923065,423.0,0.526241,0.530040
106,1,1.0,89.0,0.0,45.0,11.0,11.0,45.0,11.0,42.0,...,201.160721,193.000000,207.100006,195.682144,184.899994,466.0,448.634613,432.0,0.519519,0.524079
107,1,1.0,93.0,4.0,45.0,11.0,0.0,45.0,12.0,51.0,...,186.344833,161.399994,165.100006,156.706894,151.100006,466.0,448.150940,423.0,0.534195,0.532023
108,1,1.0,89.0,0.0,45.0,11.0,129.0,45.0,11.0,42.0,...,181.596436,169.399994,184.000000,177.482147,170.100006,466.0,447.961548,432.0,0.534486,0.533756
109,1,2.0,88.0,83.0,45.0,11.0,0.0,45.0,12.0,51.0,...,184.375000,175.800003,175.399994,165.489288,151.000000,466.0,448.596161,432.0,0.526906,0.532690
110,1,1.0,89.0,0.0,45.0,11.0,90.0,45.0,11.0,42.0,...,182.758621,175.699997,182.000000,174.727585,160.500000,446.0,429.716980,413.0,0.521249,0.530049
111,1,1.0,91.0,1.0,45.0,12.0,0.0,45.0,12.0,51.0,...,184.742859,169.699997,178.300003,168.703568,164.300003,456.0,439.538452,423.0,0.526997,0.524450
112,1,2.0,88.0,0.0,45.0,11.0,44.0,45.0,11.0,42.0,...,187.675003,178.300003,179.800003,167.907150,155.199997,466.0,445.980774,423.0,0.523694,0.530360
113,1,2.0,96.0,142.0,45.0,12.0,0.0,45.0,12.0,51.0,...,198.225006,187.199997,196.699997,182.524994,168.500000,466.0,441.094330,422.0,0.529189,0.537864
114,1,2.0,91.0,81.0,45.0,12.0,0.0,45.0,12.0,51.0,...,168.017853,160.100006,176.000000,161.782150,147.199997,466.0,449.019226,433.0,0.533122,0.530579
115,1,1.0,95.0,5.0,45.0,12.0,0.0,45.0,12.0,51.0,...,201.203568,190.899994,181.899994,172.246429,159.000000,466.0,444.698120,422.0,0.530403,0.529229
116,1,1.0,96.0,95.0,45.0,12.0,0.0,45.0,12.0,51.0,...,174.921432,169.600006,184.899994,177.839279,169.199997,466.0,442.576935,423.0,0.547497,0.550384
117,1,1.0,94.0,118.0,45.0,12.0,0.0,45.0,12.0,51.0,...,174.879303,167.600006,173.300003,165.455170,151.199997,456.0,439.339630,423.0,0.538502,0.536029
118,1,1.0,96.0,2.0,45.0,12.0,0.0,45.0,12.0,51.0,...,185.062073,168.699997,190.300003,180.637924,171.699997,466.0,448.075470,432.0,0.538095,0.526574
119,1,1.0,95.0,66.0,45.0,11.0,0.0,45.0,12.0,51.0,...,177.233337,170.600006,178.199997,171.333328,154.300003,456.0,441.173065,422.0,0.531043,0.530254
120,1,2.0,89.0,0.0,45.0,11.0,163.0,45.0,11.0,42.0,...,173.882751,168.100006,176.899994,164.744827,149.899994,466.0,444.509430,423.0,0.534403,0.536874
121,1,1.0,89.0,62.0,45.0,11.0,0.0,45.0,12.0,51.0,...,190.392593,172.800003,182.699997,169.151855,151.899994,465.0,446.288452,424.0,0.533471,0.535847
122,1,2.0,87.0,0.0,45.0,11.0,126.0,45.0,11.0,42.0,...,209.417236,192.100006,192.000000,186.341385,175.100006,463.0,440.867920,423.0,0.527910,0.534783
123,1,11.0,90.0,0.0,45.0,11.0,43.0,45.0,11.0,42.0,...,221.172409,202.899994,209.000000,194.506897,186.399994,462.0,439.792450,422.0,0.529624,0.524023
124,1,2.0,93.0,170.0,45.0,11.0,0.0,45.0,12.0,51.0,...,187.058624,175.699997,179.399994,170.306900,154.199997,446.0,430.603760,413.0,0.545925,0.538754
125,1,1.0,90.0,103.0,45.0,11.0,0.0,45.0,12.0,51.0,...,198.279312,180.600006,186.899994,176.134476,162.899994,457.0,440.320740,422.0,0.554562,0.548005
126,1,1.0,92.0,152.0,45.0,11.0,0.0,45.0,12.0,51.0,...,185.437927,165.899994,178.000000,169.148270,151.800003,466.0,448.622650,427.0,0.538030,0.534603
127,1,1.0,93.0,20.0,45.0,12.0,0.0,45.0,12.0,51.0,...,172.134476,158.000000,193.399994,182.779312,171.100006,456.0,440.037750,423.0,0.524183,0.526308
128,1,1.0,93.0,74.0,45.0,12.0,0.0,45.0,12.0,51.0,...,186.131027,177.399994,170.600006,163.220688,146.800003,466.0,442.320740,422.0,0.535589,0.538066

,PRODUCT_CODE,X_246,X_247,X_248,X_249,X_250,X_251,X_252,X_253,X_254,...,X_2858,X_2859,X_2860,X_2861,X_2862,X_2863,X_2864,X_2865,Y_Quality,prediction_label
90,1,1.0,95.0,0.0,45.0,11.0,148.0,45.0,11.0,42.0,...,171.910339,169.100006,198.899994,188.513794,181.000000,456.0,439.415100,422.0,0.534448,0.532723
91,1,2.0,89.0,0.0,45.0,11.0,135.0,45.0,11.0,42.0,...,169.139282,164.100006,160.800003,156.482147,142.000000,466.0,450.000000,432.0,0.534376,0.532451
92,1,2.0,91.0,170.0,45.0,11.0,0.0,45.0,12.0,51.0,...,187.639282,160.500000,194.100006,180.189285,165.500000,446.0,430.942322,413.0,0.547184,0.550958
93,1,2.0,88.0,0.0,45.0,11.0,85.0,45.0,11.0,42.0,...,191.772415,179.000000,181.399994,165.093109,160.100006,456.0,439.735840,422.0,0.533960,0.537108
94,1,1.0,88.0,92.0,45.0,12.0,0.0,45.0,12.0,51.0,...,196.762070,188.399994,188.300003,177.379303,166.600006,456.0,439.396240,415.0,0.528087,0.531437
95,1,1.0,95.0,0.0,45.0,11.0,22.0,45.0,11.0,42.0,...,181.217850,161.100006,185.100006,167.035721,157.300003,466.0,448.442322,433.0,0.528190,0.530146
96,1,1.0,90.0,0.0,45.0,11.0,46.0,45.0,11.0,42.0,...,190.350006,175.699997,177.600006,168.635712,160.699997,465.0,445.735840,423.0,0.527486,0.530399
97,1,1.0,95.0,0.0,45.0,11.0,28.0,45.0,11.0,42.0,...,186.274994,165.000000,174.699997,166.457138,150.399994,456.0,438.615387,422.0,0.530048,0.530654
98,1,2.0,88.0,0.0,45.0,11.0,42.0,45.0,11.0,42.0,...,194.464279,185.300003,173.100006,162.460709,154.000000,456.0,440.288452,424.0,0.530514,0.530152
99,1,1.0,90.0,142.0,45.0,11.0,0.0,45.0,12.0,51.0,...,190.407150,181.100006,192.600006,185.207138,173.199997,466.0,446.038452,427.0,0.560317,0.551058
100,1,2.0,89.0,67.0,45.0,11.0,0.0,45.0,12.0,51.0,...,195.703705,190.300003,176.399994,168.962967,157.000000,465.0,443.807678,423.0,0.527114,0.530754
101,1,1.0,95.0,138.0,45.0,12.0,0.0,45.0,12.0,51.0,...,180.368973,174.000000,172.300003,160.806900,144.300003,456.0,439.886780,412.0,0.544089,0.537369
102,1,1.0,88.0,0.0,45.0,11.0,96.0,45.0,11.0,42.0,...,194.620697,178.100006,170.899994,159.134476,149.199997,465.0,447.245270,423.0,0.523830,0.531389
103,1,2.0,91.0,0.0,45.0,11.0,67.0,45.0,11.0,42.0,...,188.625000,172.000000,202.199997,181.146423,170.399994,466.0,450.673065,432.0,0.524808,0.529813
104,1,1.0,94.0,141.0,45.0,12.0,0.0,45.0,12.0,51.0,...,183.193100,179.199997,178.300003,165.831039,152.600006,466.0,446.320740,422.0,0.535394,0.534733
105,1,1.0,90.0,0.0,45.0,11.0,35.0,45.0,11.0,42.0,...,197.317856,191.100006,174.500000,167.992859,161.800003,466.0,443.923065,423.0,0.526241,0.529649
106,1,1.0,89.0,0.0,45.0,11.0,11.0,45.0,11.0,42.0,...,201.160721,193.000000,207.100006,195.682144,184.899994,466.0,448.634613,432.0,0.519519,0.529724
107,1,1.0,93.0,4.0,45.0,11.0,0.0,45.0,12.0,51.0,...,186.344833,161.399994,165.100006,156.706894,151.100006,466.0,448.150940,423.0,0.534195,0.530098
108,1,1.0,89.0,0.0,45.0,11.0,129.0,45.0,11.0,42.0,...,181.596436,169.399994,184.000000,177.482147,170.100006,466.0,447.961548,432.0,0.534486,0.531590
109,1,2.0,88.0,83.0,45.0,11.0,0.0,45.0,12.0,51.0,...,184.375000,175.800003,175.399994,165.489288,151.000000,466.0,448.596161,432.0,0.526906,0.530812
110,1,1.0,89.0,0.0,45.0,11.0,90.0,45.0,11.0,42.0,...,182.758621,175.699997,182.000000,174.727585,160.500000,446.0,429.716980,413.0,0.521249,0.530287
111,1,1.0,91.0,1.0,45.0,12.0,0.0,45.0,12.0,51.0,...,184.742859,169.699997,178.300003,168.703568,164.300003,456.0,439.538452,423.0,0.526997,0.529859
112,1,2.0,88.0,0.0,45.0,11.0,44.0,45.0,11.0,42.0,...,187.675003,178.300003,179.800003,167.907150,155.199997,466.0,445.980774,423.0,0.523694,0.530654
113,1,2.0,96.0,142.0,45.0,12.0,0.0,45.0,12.0,51.0,...,198.225006,187.199997,196.699997,182.524994,168.500000,466.0,441.094330,422.0,0.529189,0.533790
114,1,2.0,91.0,81.0,45.0,12.0,0.0,45.0,12.0,51.0,...,168.017853,160.100006,176.000000,161.782150,147.199997,466.0,449.019226,433.0,0.533122,0.530286
115,1,1.0,95.0,5.0,45.0,12.0,0.0,45.0,12.0,51.0,...,201.203568,190.899994,181.899994,172.246429,159.000000,466.0,444.698120,422.0,0.530403,0.530075
116,1,1.0,96.0,95.0,45.0,12.0,0.0,45.0,12.0,51.0,...,174.921432,169.600006,184.899994,177.839279,169.199997,466.0,442.576935,423.0,0.547497,0.549381
117,1,1.0,94.0,118.0,45.0,12.0,0.0,45.0,12.0,51.0,...,174.879303,167.600006,173.300003,165.455170,151.199997,456.0,439.339630,423.0,0.538502,0.533380
118,1,1.0,96.0,2.0,45.0,12.0,0.0,45.0,12.0,51.0,...,185.062073,168.699997,190.300003,180.637924,171.699997,466.0,448.075470,432.0,0.538095,0.530132
119,1,1.0,95.0,66.0,45.0,11.0,0.0,45.0,12.0,51.0,...,177.233337,170.600006,178.199997,171.333328,154.300003,456.0,441.173065,422.0,0.531043,0.530287
120,1,2.0,89.0,0.0,45.0,11.0,163.0,45.0,11.0,42.0,...,173.882751,168.100006,176.899994,164.744827,149.899994,466.0,444.509430,423.0,0.534403,0.532174
121,1,1.0,89.0,62.0,45.0,11.0,0.0,45.0,12.0,51.0,...,190.392593,172.800003,182.699997,169.151855,151.899994,465.0,446.288452,424.0,0.533471,0.532289
122,1,2.0,87.0,0.0,45.0,11.0,126.0,45.0,11.0,42.0,...,209.417236,192.100006,192.000000,186.341385,175.100006,463.0,440.867920,423.0,0.527910,0.531446
123,1,11.0,90.0,0.0,45.0,11.0,43.0,45.0,11.0,42.0,...,221.172409,202.899994,209.000000,194.506897,186.399994,462.0,439.792450,422.0,0.529624,0.529859
124,1,2.0,93.0,170.0,45.0,11.0,0.0,45.0,12.0,51.0,...,187.058624,175.699997,179.399994,170.306900,154.199997,446.0,430.603760,413.0,0.545925,0.541995
125,1,1.0,90.0,103.0,45.0,11.0,0.0,45.0,12.0,51.0,...,198.279312,180.600006,186.899994,176.134476,162.899994,457.0,440.320740,422.0,0.554562,0.552448
126,1,1.0,92.0,152.0,45.0,11.0,0.0,45.0,12.0,51.0,...,185.437927,165.899994,178.000000,169.148270,151.800003,466.0,448.622650,427.0,0.538030,0.534801
127,1,1.0,93.0,20.0,45.0,12.0,0.0,45.0,12.0,51.0,...,172.134476,158.000000,193.399994,182.779312,171.100006,456.0,440.037750,423.0,0.524183,0.530047
128,1,1.0,93.0,74.0,45.0,12.0,0.0,45.0,12.0,51.0,...,186.131027,177.399994,170.600006,163.220688,146.800003,466.0,442.320740,422.0,0.535589,0.532470

In [191]:
T01_final_regression_model = finalize_model(T01_model_et)

In [192]:
T01_prediction = predict_model(T01_final_regression_model, data=T01_data)
#prediction.drop(['Y_Quality'], axis = 1, inplace = True)

In [193]:
T01_y_class = pd.DataFrame(T01_class, columns = ['Y_Class'])
T01_idx = T01_y_class.index
T01_y_class = T01_y_class.reset_index()
T01_prediction = pd.concat([T01_prediction, T01_y_class], axis = 1)
T01_prediction = T01_prediction.set_index('index')
T01_prediction.drop(['Y_Class'], axis = 1, inplace = True)

In [196]:
T01_prediction['Y_Class'] = 22

T01_idx = T01_prediction.index
for i in range (len(T01_prediction)) :
    if (T01_prediction.iloc[i]['prediction_label'] <= (0.524808 + 0.525221)/2) :
        T01_prediction.loc[T01_idx[i], 'Y_Class'] = 0
    elif ((0.524808 + 0.525221)/2 < T01_prediction.iloc[i]['prediction_label']) and (T01_prediction.iloc[i]['prediction_label'] < (0.534737 + 0.535279)/2) :
        T01_prediction.loc[T01_idx[i], 'Y_Class'] = 1
    elif ((0.534737 + 0.535279)/2 <= T01_prediction.iloc[i]['prediction_label']) :
        T01_prediction.loc[T01_idx[i], 'Y_Class'] = 2
T01_prediction

,PRODUCT_CODE,X_246,X_247,X_248,X_249,X_250,X_251,X_252,X_253,X_254,...,X_2858,X_2859,X_2860,X_2861,X_2862,X_2863,X_2864,X_2865,prediction_label,Y_Class
index,,,,,,,,,,,,,,,,,,,,,
27,1,1.0,87.0,144.0,45.0,12.0,0.0,45.0,12.0,51.0,...,169.907150,156.500000,188.399994,175.225006,159.899994,446.0,430.442322,413.0,0.540002,2
28,1,1.0,89.0,0.0,45.0,11.0,90.0,45.0,11.0,42.0,...,182.758621,175.699997,182.000000,174.727585,160.500000,446.0,429.716980,413.0,0.521249,0
31,1,4.0,93.0,150.0,45.0,12.0,0.0,45.0,12.0,51.0,...,191.775864,166.000000,195.100006,188.696548,181.699997,446.0,429.245270,413.0,0.536206,2
32,1,1.0,89.0,152.0,45.0,12.0,0.0,45.0,12.0,51.0,...,181.686203,172.699997,180.000000,168.775864,154.100006,446.0,429.981140,415.0,0.548592,2
33,1,1.0,95.0,0.0,45.0,11.0,98.0,45.0,11.0,42.0,...,184.365524,171.399994,175.699997,168.258621,158.300003,446.0,429.301880,413.0,0.526656,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,1,1.0,90.0,142.0,45.0,11.0,0.0,45.0,12.0,51.0,...,190.407150,181.100006,192.600006,185.207138,173.199997,466.0,446.038452,427.0,0.560317,2
553,1,2.0,90.0,0.0,45.0,11.0,122.0,45.0,11.0,42.0,...,211.362076,195.699997,201.199997,191.286209,181.699997,466.0,444.924530,424.0,0.524686,0
554,1,1.0,89.0,0.0,45.0,11.0,122.0,45.0,11.0,42.0,...,211.517853,205.100006,193.899994,185.071426,177.699997,465.0,441.903839,423.0,0.531106,1
584,1,1.0,89.0,0.0,45.0,11.0,11.0,45.0,11.0,42.0,...,201.160721,193.000000,207.100006,195.682144,184.899994,466.0,448.634613,432.0,0.519519,0
585,1,1.0,93.0,63.0,45.0,12.0,0.0,45.0,12.0,51.0,...,205.079315,196.100006,192.199997,187.396545,176.699997,472.0,450.339630,432.0,0.515214,0

In [197]:
T01_prediction['Y_Class'].unique()

array([2, 0, 1], dtype=int64)

# T10

In [198]:
T10_class = T10['Y_Class']
T10_target = T10['Y_Quality']
T10_data = T10.drop(['Y_Class', 'Y_Quality'], axis = 1)
T10_data

,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_924,X_925,X_926,X_927,X_928,X_929,X_930,X_931,X_932,X_933
22,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,172.5,162.8,157.235484,150.9,326.0,309.290909,290.0,13.7,13.443333,13.2
23,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0
25,2,2.0,97.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,177.8,157.1,154.074194,150.9,327.0,310.854546,298.0,13.7,13.454839,13.2
26,2,2.0,95.0,0.0,45.0,10.0,0.0,54.0,10.0,52.0,...,166.9,158.5,151.096774,146.5,327.0,313.618182,299.0,13.7,13.461290,13.3
29,2,2.0,100.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,177.9,161.3,156.038710,149.1,327.0,312.109091,298.0,13.7,13.422581,13.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,2,1.0,87.0,0.0,45.0,10.0,0.0,50.0,10.0,52.0,...,177.0,159.6,154.777419,147.7,326.0,313.472727,298.0,13.6,13.400000,13.2
592,2,2.0,98.0,0.0,45.0,10.0,0.0,45.0,10.0,31.0,...,171.5,156.6,152.535484,147.6,326.0,312.472727,298.0,13.6,13.361290,13.2
593,2,2.0,95.0,0.0,45.0,10.0,0.0,50.0,10.0,52.0,...,172.8,161.2,155.438710,149.0,327.0,313.363636,298.0,13.6,13.351613,13.2
596,3,40.0,94.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,189.2,179.5,173.190323,168.6,321.0,303.036364,289.0,13.6,13.406667,13.2
597,3,21.0,87.0,0.0,45.0,10.0,0.0,61.0,10.0,52.0,...,188.2,172.9,167.087097,161.1,326.0,304.818182,289.0,13.6,13.380000,13.2

In [199]:
#13
setup_rgs = setup(data = T10_data, target=T10_target, session_id = 414)
top5 = compare_models(sort='MSE', n_select=5)

Processing:   0%|          | 0/89 [00:00<?, ?it/s]

In [200]:
T10_total_models = []

T10_model_rf = create_model('rf', fold = 5)
T10_total_models.append(T10_model_rf)

T10_model_gbr = create_model('gbr', fold = 5)
T10_total_models.append(T10_model_gbr)

T10_model_et = create_model('et', fold = 5)
T10_total_models.append(T10_model_et)

T10_model_catboost = create_model('catboost', fold = 5)
T10_total_models.append(T10_model_catboost)

T10_model_xgb = create_model('xgboost', fold = 5)
T10_total_models.append(T10_model_xgb)

T10_model_ada = create_model('ada', fold = 5)
T10_total_models.append(T10_model_ada)

T10_model_lightgbm = create_model('lightgbm', fold = 5)
T10_total_models.append(T10_model_lightgbm)

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [201]:
T10_model_rf = tune_model(T10_model_rf, fold=5, choose_better = True)

T10_model_gbr = tune_model(T10_model_gbr, fold=5, choose_better = True)

T10_model_et = tune_model(T10_model_et, fold=5, choose_better = True)

T10_model_catboost = tune_model(T10_model_catboost, fold=5, choose_better = True)

T10_model_xgb = tune_model(T10_model_xgb, fold=5, choose_better = True)

T10_model_ada = tune_model(T10_model_ada, fold=5, choose_better = True)

T10_model_lightgbm = tune_model(T10_model_lightgbm, fold=5, choose_better = True)

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [202]:
T10_tuned_models = [T10_model_rf, T10_model_gbr, T10_model_et, T10_model_catboost, T10_model_xgb, T10_model_ada, T10_model_lightgbm]
T10_tuned_models

[RandomForestRegressor(n_jobs=-1, random_state=414),
 GradientBoostingRegressor(random_state=414),
 ExtraTreesRegressor(n_jobs=-1, random_state=414),
 <catboost.core.CatBoostRegressor at 0x23954a3b640>,
 XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=0.5,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.2, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=7, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=90, n_jobs=-1,
              num_parallel_tree=1, predictor='auto', random_state=414,
              reg_alpha=0.01, reg_lambda=0.05, ...),
 AdaBoostRegressor(learning_rate=0.05, n_estimators=210, random_state=414),
 LGBMRegressor(random_state=414)]

In [203]:
for model in T10_tuned_models:
    display(predict_model(model))

,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_926,X_927,X_928,X_929,X_930,X_931,X_932,X_933,Y_Quality,prediction_label
244,2,2.0,96.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,156.709671,150.699997,317.0,303.836365,288.0,13.7,13.409678,13.2,0.529167,0.530502
245,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,153.658066,148.100006,327.0,313.636353,298.0,13.6,13.393548,13.2,0.532317,0.530575
246,2,2.0,98.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,154.393555,147.500000,326.0,304.436371,289.0,13.6,13.406667,13.2,0.526232,0.530309
247,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,154.245163,148.100006,326.0,310.509094,289.0,13.6,13.325807,13.1,0.532694,0.529457
248,2,2.0,94.0,0.0,45.0,10.0,0.0,54.0,10.0,52.0,...,152.738708,146.699997,325.0,305.000000,290.0,13.5,13.310000,13.1,0.527637,0.531029
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,151.167740,147.100006,326.0,308.309082,289.0,13.6,13.325807,13.2,0.528154,0.531247
345,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,148.403229,144.100006,327.0,310.363647,298.0,13.6,13.396774,13.2,0.529000,0.529899
346,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,153.213333,149.100006,327.0,308.370361,289.0,13.7,13.470967,13.3,0.529097,0.528983
347,2,2.0,93.0,0.0,45.0,10.0,0.0,45.0,10.0,31.0,...,148.841934,143.300003,317.0,301.072723,285.0,13.6,13.366667,13.1,0.532446,0.529729
348,2,2.0,93.0,0.0,45.0,10.0,0.0,51.0,10.0,52.0,...,153.683868,146.699997,325.0,304.527283,289.0,13.6,13.380645,13.2,0.532122,0.530558

,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_926,X_927,X_928,X_929,X_930,X_931,X_932,X_933,Y_Quality,prediction_label
244,2,2.0,96.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,156.709671,150.699997,317.0,303.836365,288.0,13.7,13.409678,13.2,0.529167,0.528185
245,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,153.658066,148.100006,327.0,313.636353,298.0,13.6,13.393548,13.2,0.532317,0.531393
246,2,2.0,98.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,154.393555,147.500000,326.0,304.436371,289.0,13.6,13.406667,13.2,0.526232,0.530762
247,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,154.245163,148.100006,326.0,310.509094,289.0,13.6,13.325807,13.1,0.532694,0.530538
248,2,2.0,94.0,0.0,45.0,10.0,0.0,54.0,10.0,52.0,...,152.738708,146.699997,325.0,305.000000,290.0,13.5,13.310000,13.1,0.527637,0.530889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,151.167740,147.100006,326.0,308.309082,289.0,13.6,13.325807,13.2,0.528154,0.533632
345,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,148.403229,144.100006,327.0,310.363647,298.0,13.6,13.396774,13.2,0.529000,0.529565
346,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,153.213333,149.100006,327.0,308.370361,289.0,13.7,13.470967,13.3,0.529097,0.528973
347,2,2.0,93.0,0.0,45.0,10.0,0.0,45.0,10.0,31.0,...,148.841934,143.300003,317.0,301.072723,285.0,13.6,13.366667,13.1,0.532446,0.530038
348,2,2.0,93.0,0.0,45.0,10.0,0.0,51.0,10.0,52.0,...,153.683868,146.699997,325.0,304.527283,289.0,13.6,13.380645,13.2,0.532122,0.529698

,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_926,X_927,X_928,X_929,X_930,X_931,X_932,X_933,Y_Quality,prediction_label
244,2,2.0,96.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,156.709671,150.699997,317.0,303.836365,288.0,13.7,13.409678,13.2,0.529167,0.528690
245,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,153.658066,148.100006,327.0,313.636353,298.0,13.6,13.393548,13.2,0.532317,0.529721
246,2,2.0,98.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,154.393555,147.500000,326.0,304.436371,289.0,13.6,13.406667,13.2,0.526232,0.529948
247,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,154.245163,148.100006,326.0,310.509094,289.0,13.6,13.325807,13.1,0.532694,0.530710
248,2,2.0,94.0,0.0,45.0,10.0,0.0,54.0,10.0,52.0,...,152.738708,146.699997,325.0,305.000000,290.0,13.5,13.310000,13.1,0.527637,0.529707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,151.167740,147.100006,326.0,308.309082,289.0,13.6,13.325807,13.2,0.528154,0.532589
345,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,148.403229,144.100006,327.0,310.363647,298.0,13.6,13.396774,13.2,0.529000,0.530579
346,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,153.213333,149.100006,327.0,308.370361,289.0,13.7,13.470967,13.3,0.529097,0.528765
347,2,2.0,93.0,0.0,45.0,10.0,0.0,45.0,10.0,31.0,...,148.841934,143.300003,317.0,301.072723,285.0,13.6,13.366667,13.1,0.532446,0.529550
348,2,2.0,93.0,0.0,45.0,10.0,0.0,51.0,10.0,52.0,...,153.683868,146.699997,325.0,304.527283,289.0,13.6,13.380645,13.2,0.532122,0.530405

,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_926,X_927,X_928,X_929,X_930,X_931,X_932,X_933,Y_Quality,prediction_label
244,2,2.0,96.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,156.709671,150.699997,317.0,303.836365,288.0,13.7,13.409678,13.2,0.529167,0.528144
245,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,153.658066,148.100006,327.0,313.636353,298.0,13.6,13.393548,13.2,0.532317,0.530474
246,2,2.0,98.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,154.393555,147.500000,326.0,304.436371,289.0,13.6,13.406667,13.2,0.526232,0.531365
247,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,154.245163,148.100006,326.0,310.509094,289.0,13.6,13.325807,13.1,0.532694,0.530336
248,2,2.0,94.0,0.0,45.0,10.0,0.0,54.0,10.0,52.0,...,152.738708,146.699997,325.0,305.000000,290.0,13.5,13.310000,13.1,0.527637,0.529309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,151.167740,147.100006,326.0,308.309082,289.0,13.6,13.325807,13.2,0.528154,0.533729
345,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,148.403229,144.100006,327.0,310.363647,298.0,13.6,13.396774,13.2,0.529000,0.530094
346,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,153.213333,149.100006,327.0,308.370361,289.0,13.7,13.470967,13.3,0.529097,0.528618
347,2,2.0,93.0,0.0,45.0,10.0,0.0,45.0,10.0,31.0,...,148.841934,143.300003,317.0,301.072723,285.0,13.6,13.366667,13.1,0.532446,0.530465
348,2,2.0,93.0,0.0,45.0,10.0,0.0,51.0,10.0,52.0,...,153.683868,146.699997,325.0,304.527283,289.0,13.6,13.380645,13.2,0.532122,0.529611

,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_926,X_927,X_928,X_929,X_930,X_931,X_932,X_933,Y_Quality,prediction_label
244,2,2.0,96.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,156.709671,150.699997,317.0,303.836365,288.0,13.7,13.409678,13.2,0.529167,0.529982
245,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,153.658066,148.100006,327.0,313.636353,298.0,13.6,13.393548,13.2,0.532317,0.529315
246,2,2.0,98.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,154.393555,147.500000,326.0,304.436371,289.0,13.6,13.406667,13.2,0.526232,0.533774
247,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,154.245163,148.100006,326.0,310.509094,289.0,13.6,13.325807,13.1,0.532694,0.530048
248,2,2.0,94.0,0.0,45.0,10.0,0.0,54.0,10.0,52.0,...,152.738708,146.699997,325.0,305.000000,290.0,13.5,13.310000,13.1,0.527637,0.529679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,151.167740,147.100006,326.0,308.309082,289.0,13.6,13.325807,13.2,0.528154,0.534121
345,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,148.403229,144.100006,327.0,310.363647,298.0,13.6,13.396774,13.2,0.529000,0.531274
346,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,153.213333,149.100006,327.0,308.370361,289.0,13.7,13.470967,13.3,0.529097,0.531469
347,2,2.0,93.0,0.0,45.0,10.0,0.0,45.0,10.0,31.0,...,148.841934,143.300003,317.0,301.072723,285.0,13.6,13.366667,13.1,0.532446,0.530026
348,2,2.0,93.0,0.0,45.0,10.0,0.0,51.0,10.0,52.0,...,153.683868,146.699997,325.0,304.527283,289.0,13.6,13.380645,13.2,0.532122,0.529908

,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_926,X_927,X_928,X_929,X_930,X_931,X_932,X_933,Y_Quality,prediction_label
244,2,2.0,96.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,156.709671,150.699997,317.0,303.836365,288.0,13.7,13.409678,13.2,0.529167,0.530279
245,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,153.658066,148.100006,327.0,313.636353,298.0,13.6,13.393548,13.2,0.532317,0.530335
246,2,2.0,98.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,154.393555,147.500000,326.0,304.436371,289.0,13.6,13.406667,13.2,0.526232,0.530434
247,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,154.245163,148.100006,326.0,310.509094,289.0,13.6,13.325807,13.1,0.532694,0.530210
248,2,2.0,94.0,0.0,45.0,10.0,0.0,54.0,10.0,52.0,...,152.738708,146.699997,325.0,305.000000,290.0,13.5,13.310000,13.1,0.527637,0.530433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,151.167740,147.100006,326.0,308.309082,289.0,13.6,13.325807,13.2,0.528154,0.530351
345,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,148.403229,144.100006,327.0,310.363647,298.0,13.6,13.396774,13.2,0.529000,0.530237
346,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,153.213333,149.100006,327.0,308.370361,289.0,13.7,13.470967,13.3,0.529097,0.530283
347,2,2.0,93.0,0.0,45.0,10.0,0.0,45.0,10.0,31.0,...,148.841934,143.300003,317.0,301.072723,285.0,13.6,13.366667,13.1,0.532446,0.530452
348,2,2.0,93.0,0.0,45.0,10.0,0.0,51.0,10.0,52.0,...,153.683868,146.699997,325.0,304.527283,289.0,13.6,13.380645,13.2,0.532122,0.530189

,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_926,X_927,X_928,X_929,X_930,X_931,X_932,X_933,Y_Quality,prediction_label
244,2,2.0,96.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,156.709671,150.699997,317.0,303.836365,288.0,13.7,13.409678,13.2,0.529167,0.526588
245,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,153.658066,148.100006,327.0,313.636353,298.0,13.6,13.393548,13.2,0.532317,0.533604
246,2,2.0,98.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,154.393555,147.500000,326.0,304.436371,289.0,13.6,13.406667,13.2,0.526232,0.529960
247,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,154.245163,148.100006,326.0,310.509094,289.0,13.6,13.325807,13.1,0.532694,0.532703
248,2,2.0,94.0,0.0,45.0,10.0,0.0,54.0,10.0,52.0,...,152.738708,146.699997,325.0,305.000000,290.0,13.5,13.310000,13.1,0.527637,0.530480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,151.167740,147.100006,326.0,308.309082,289.0,13.6,13.325807,13.2,0.528154,0.532983
345,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,148.403229,144.100006,327.0,310.363647,298.0,13.6,13.396774,13.2,0.529000,0.531742
346,2,2.0,101.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,153.213333,149.100006,327.0,308.370361,289.0,13.7,13.470967,13.3,0.529097,0.528816
347,2,2.0,93.0,0.0,45.0,10.0,0.0,45.0,10.0,31.0,...,148.841934,143.300003,317.0,301.072723,285.0,13.6,13.366667,13.1,0.532446,0.531648
348,2,2.0,93.0,0.0,45.0,10.0,0.0,51.0,10.0,52.0,...,153.683868,146.699997,325.0,304.527283,289.0,13.6,13.380645,13.2,0.532122,0.529187

In [204]:
T10_final_regression_model = finalize_model(T10_model_xgb)

In [205]:
T10_prediction = predict_model(T10_final_regression_model, data=T10_data)
#prediction.drop(['Y_Quality'], axis = 1, inplace = True)

In [206]:
T10_y_class = pd.DataFrame(T10_class, columns = ['Y_Class'])
T10_idx = T10_y_class.index
T10_y_class = T10_y_class.reset_index()
T10_prediction = pd.concat([T10_prediction, T10_y_class], axis = 1)
T10_prediction = T10_prediction.set_index('index')
T10_prediction.drop(['Y_Class'], axis = 1, inplace = True)

In [207]:
T10_prediction['Y_Class'] = 22

T10_idx = T10_prediction.index
for i in range (len(T10_prediction)) :
    if (T10_prediction.iloc[i]['prediction_label'] <= (0.525067 + 0.525213)/2) :
        T10_prediction.loc[T10_idx[i], 'Y_Class'] = 0
    elif ((0.525067 + 0.525213)/2 < T10_prediction.iloc[i]['prediction_label']) and (T10_prediction.iloc[i]['prediction_label'] < (0.534837 + 0.534951)/2) :
        T10_prediction.loc[T10_idx[i], 'Y_Class'] = 1
    elif ((0.534837 + 0.534951)/2 <= T10_prediction.iloc[i]['prediction_label']) :
        T10_prediction.loc[T10_idx[i], 'Y_Class'] = 2
T10_prediction

,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,...,X_926,X_927,X_928,X_929,X_930,X_931,X_932,X_933,prediction_label,Y_Class
index,,,,,,,,,,,,,,,,,,,,,
22,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,157.235489,150.899994,326.0,309.290924,290.0,13.7,13.443334,13.2,0.518345,0
23,2,2.0,102.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.518380,0
25,2,2.0,97.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,154.074188,150.899994,327.0,310.854553,298.0,13.7,13.454839,13.2,0.529175,1
26,2,2.0,95.0,0.0,45.0,10.0,0.0,54.0,10.0,52.0,...,151.096771,146.500000,327.0,313.618195,299.0,13.7,13.461290,13.3,0.531211,1
29,2,2.0,100.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,156.038712,149.100006,327.0,312.109100,298.0,13.7,13.422581,13.2,0.532009,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,2,1.0,87.0,0.0,45.0,10.0,0.0,50.0,10.0,52.0,...,154.777420,147.699997,326.0,313.472717,298.0,13.6,13.400000,13.2,0.530287,1
592,2,2.0,98.0,0.0,45.0,10.0,0.0,45.0,10.0,31.0,...,152.535477,147.600006,326.0,312.472717,298.0,13.6,13.361290,13.2,0.528464,1
593,2,2.0,95.0,0.0,45.0,10.0,0.0,50.0,10.0,52.0,...,155.438705,149.000000,327.0,313.363647,298.0,13.6,13.351613,13.2,0.527375,1
596,3,40.0,94.0,0.0,45.0,11.0,0.0,45.0,10.0,31.0,...,173.190323,168.600006,321.0,303.036377,289.0,13.6,13.406667,13.2,0.531421,1
597,3,21.0,87.0,0.0,45.0,10.0,0.0,61.0,10.0,52.0,...,167.087097,161.100006,326.0,304.818176,289.0,13.6,13.380000,13.2,0.533302,1

In [208]:
T01_prediction['Y_Class'].unique()

array([2, 0, 1], dtype=int64)

# Test

In [209]:
#44
test_data = pd.read_csv("./test.csv")
test_data

,PRODUCT_ID,TIMESTAMP,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,...,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871,X_2872,X_2873,X_2874,X_2875
0,TEST_000,2022-09-09 2:01,T100306,T_31,2.0,94.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TEST_001,2022-09-09 2:09,T100304,T_31,2.0,93.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TEST_002,2022-09-09 8:42,T100304,T_31,2.0,95.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TEST_003,2022-09-09 10:56,T010305,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TEST_004,2022-09-09 11:04,T010306,A_31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,TEST_305,2022-11-05 11:18,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,TEST_306,2022-11-05 16:39,T100304,T_31,2.0,96.0,0.0,45.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,TEST_307,2022-11-05 16:47,T100306,T_31,2.0,91.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,TEST_308,2022-11-05 20:53,T100306,T_31,2.0,95.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,TEST_309,2022-11-05 21:01,T100306,T_31,2.0,87.0,0.0,45.0,10.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [210]:
test_data['YEAR'] =  pd.to_datetime(test_data['TIMESTAMP']).dt.year
test_data['MONTH'] =  pd.to_datetime(test_data['TIMESTAMP']).dt.month
test_data['DAY'] =  pd.to_datetime(test_data['TIMESTAMP']).dt.day
test_data['HOUR'] =  pd.to_datetime(test_data['TIMESTAMP']).dt.hour
test_data['MINUTE'] =  pd.to_datetime(test_data['TIMESTAMP']).dt.minute
test_data['DAY_OF_WEEK'] =  pd.to_datetime(test_data['TIMESTAMP']).dt.day_name()

In [211]:
test_data.drop(colls, inplace = True, axis = 1)

In [212]:
test_data = test_data.drop(['MONTH', 'MINUTE', 'DAY', 'YEAR', 'DAY_OF_WEEK', 'HOUR'], axis = 1)

In [213]:
test_data.loc[test_data.PRODUCT_CODE == 'A_31','PRODUCT_CODE'] = 1
test_data.loc[test_data.PRODUCT_CODE == 'T_31','PRODUCT_CODE'] = 2
test_data.loc[test_data.PRODUCT_CODE == 'O_31','PRODUCT_CODE'] = 3

test_data.drop(['PRODUCT_ID', 'TIMESTAMP'], axis = 1, inplace = True)
test_data

,LINE,PRODUCT_CODE,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,...,X_2862,X_2863,X_2864,X_2865,X_2866,X_2867,X_2868,X_2869,X_2870,X_2871
0,T100306,2,2.0,94.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,T100304,2,2.0,93.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,T100304,2,2.0,95.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,T010305,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,183.8,467.0,444.192308,423.0,NaN,NaN,NaN,NaN,NaN,NaN
4,T010306,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,179.7,465.0,443.211539,423.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,T100306,2,2.0,91.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,T100304,2,2.0,96.0,0.0,45.0,11.0,0.0,45.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,T100306,2,2.0,91.0,0.0,45.0,10.0,0.0,50.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,T100306,2,2.0,95.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,T100306,2,2.0,87.0,0.0,45.0,10.0,0.0,51.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [214]:
TT05 = test_data[(test_data['LINE'] == 'T050304')|(test_data['LINE'] == 'T050307')]
TT01 = test_data[(test_data['LINE'] == 'T010305')|(test_data['LINE'] == 'T010306')]
TT10 = test_data[(test_data['LINE'] == 'T100304')|(test_data['LINE'] == 'T100306')]

In [215]:
TT05.drop(['LINE'], axis = 1, inplace = True)
TT01.drop(['LINE'], axis = 1, inplace = True)
TT10.drop(['LINE'], axis = 1, inplace = True)

In [216]:
TT05.drop(T05_col, inplace = True, axis = 1)
TT01.drop(T01_col, inplace = True, axis = 1)
TT10.drop(T10_col, inplace = True, axis = 1)

In [68]:
TT05 = TT05.fillna(T05.mean())
TT01 = TT01.fillna(T01.mean())
TT10 = TT10.fillna(T10.mean())

In [217]:
TT05 = TT05.fillna(0)
TT01 = TT01.fillna(0)
TT10 = TT10.fillna(0)

In [218]:
TT05_prediction = predict_model(T05_final_regression_model, data=TT05)
TT01_prediction = predict_model(T01_final_regression_model, data=TT01)
TT10_prediction = predict_model(T10_final_regression_model, data=TT10)

In [219]:
TT05_y_class = pd.DataFrame(TT05, columns = ['Y_Class'])
TT05_idx = TT05_y_class.index
TT05_y_class = TT05_y_class.reset_index()
TT05_prediction = pd.concat([TT05_prediction, TT05_y_class], axis = 1)
TT05_prediction = TT05_prediction.set_index('index')
TT05_prediction.drop(['Y_Class'], axis = 1, inplace = True)

In [220]:
TT01_y_class = pd.DataFrame(TT01, columns = ['Y_Class'])
TT01_idx = TT01_y_class.index
TT01_y_class = TT01_y_class.reset_index()
TT01_prediction = pd.concat([TT01_prediction, TT01_y_class], axis = 1)
TT01_prediction = TT01_prediction.set_index('index')
TT01_prediction.drop(['Y_Class'], axis = 1, inplace = True)

In [221]:
TT10_y_class = pd.DataFrame(TT10, columns = ['Y_Class'])
TT10_idx = TT10_y_class.index
TT10_y_class = TT10_y_class.reset_index()
TT10_prediction = pd.concat([TT10_prediction, TT10_y_class], axis = 1)
TT10_prediction = TT10_prediction.set_index('index')
TT10_prediction.drop(['Y_Class'], axis = 1, inplace = True)

In [222]:
TT05_prediction['Y_Class'] = 22

TT05_idx = TT05_prediction.index
for i in range (len(TT05_prediction)) :
    if (TT05_prediction.iloc[i]['prediction_label'] <= (0.525046 + 0.525086)/2) :
        TT05_prediction.loc[TT05_idx[i], 'Y_Class'] = 0
    elif ((0.525046 + 0.525086)/2 < TT05_prediction.iloc[i]['prediction_label']) and (TT05_prediction.iloc[i]['prediction_label'] < (0.534843 + 0.535405)/2) :
        TT05_prediction.loc[TT05_idx[i], 'Y_Class'] = 1
    elif ((0.534843 + 0.535405)/2 <= TT05_prediction.iloc[i]['prediction_label']) :
        TT05_prediction.loc[TT05_idx[i], 'Y_Class'] = 2
TT05_prediction['Y_Class'].unique()

array([1, 0, 2], dtype=int64)

In [223]:
TT01_prediction['Y_Class'] = 22

TT01_idx = TT01_prediction.index
for i in range (len(TT01_prediction)) :
    if (TT01_prediction.iloc[i]['prediction_label'] <= (0.524808 + 0.525221)/2) :
        TT01_prediction.loc[TT01_idx[i], 'Y_Class'] = 0
    elif ((0.524808 + 0.525221)/2 < TT01_prediction.iloc[i]['prediction_label']) and (TT01_prediction.iloc[i]['prediction_label'] < (0.534737 + 0.535279)/2) :
        TT01_prediction.loc[TT01_idx[i], 'Y_Class'] = 1
    elif ((0.534737 + 0.535279)/2 <= TT01_prediction.iloc[i]['prediction_label']) :
        TT01_prediction.loc[TT01_idx[i], 'Y_Class'] = 2
TT01_prediction['Y_Class'].unique()

array([1, 0, 2], dtype=int64)

In [224]:
TT10_prediction['Y_Class'] = 22

TT10_idx = TT10_prediction.index
for i in range (len(TT10_prediction)) :
    if (TT10_prediction.iloc[i]['prediction_label'] <= (0.525067 + 0.525213)/2) :
        TT10_prediction.loc[TT10_idx[i], 'Y_Class'] = 0
    elif ((0.525067 + 0.525213)/2 < TT10_prediction.iloc[i]['prediction_label']) and (TT10_prediction.iloc[i]['prediction_label'] < (0.534837 + 0.534951)/2) :
        TT10_prediction.loc[TT10_idx[i], 'Y_Class'] = 1
    elif ((0.534837 + 0.534951)/2 <= TT10_prediction.iloc[i]['prediction_label']) :
        TT10_prediction.loc[TT10_idx[i], 'Y_Class'] = 2
TT10_prediction['Y_Class'].unique()

array([1, 0, 2], dtype=int64)

In [225]:
final_test = pd.concat([TT05_prediction, TT01_prediction, TT10_prediction])
final_test

,PRODUCT_CODE,X_128,X_129,X_130,X_131,X_132,X_133,X_134,X_135,X_136,...,X_924,X_925,X_926,X_927,X_928,X_929,X_930,X_931,X_932,X_933
index,,,,,,,,,,,,,,,,,,,,,
7,1,18031.0,18031.0,0.0,0.0,0.19,0.20,0.19,0.2,354.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,18064.0,18064.0,0.0,0.0,0.19,0.20,0.19,0.2,355.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1,0.0,0.0,3370.0,3370.0,0.21,0.22,0.21,0.2,230.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1,295.0,295.0,0.0,0.0,0.19,0.21,0.19,0.2,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,1,8632.0,8632.0,0.0,0.0,0.20,0.21,0.20,0.2,249.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,169.199997,161.800003,152.251617,142.899994,326.0,313.072723,294.0,13.6,13.341935,13.2
306,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,162.300003,159.300003,154.830002,152.399994,326.0,307.796295,290.0,13.6,13.406451,13.2
307,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,169.300003,158.000000,150.909683,145.000000,323.0,304.418182,289.0,13.6,13.361290,13.2
308,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,168.399994,162.600006,153.073334,141.899994,326.0,307.018188,290.0,13.6,13.335484,13.2
309,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,169.100006,163.100006,152.412903,147.100006,327.0,308.163635,289.0,13.6,13.343333,13.2

In [226]:
final_test = final_test.sort_index(ascending=True)
final_test['Y_Class']

index
0      1
1      1
2      1
3      1
4      1
      ..
305    1
306    0
307    1
308    1
309    1
Name: Y_Class, Length: 310, dtype: int64

In [228]:
#52
sample_submission = pd.read_csv('sample_submission.csv')
sample_submission['Y_Class'] = final_test['Y_Class']
display(sample_submission.head())
sample_submission.to_csv('line3regclass0_andsep_submission.csv',index=False)

  PRODUCT_ID  Y_Class
0   TEST_000        1
1   TEST_001        1
2   TEST_002        1
3   TEST_003        1
4   TEST_004        1

In [229]:
final_test['Y_Class'].value_counts()

1    264
0     39
2      7
Name: Y_Class, dtype: int64

In [230]:
np.array(final_test['Y_Class'])

array([1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 2, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 2, 1, 2, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1], dtype=int64)